.header-content {
    margin: 0 auto;
    padding: 0px 0px;
    width: 100%;
    position: absolute;
    top: 0;
}

.middle-content {
}

.footer-content {
    position: absolute;
    width: 99%;
    bottom: 0%;
    overflow: hidden;
    margin: 0 auto;
}

.cer_tbl {
    width: 152px;
    margin: 66px auto;
}

.login_button_div {
    padding: 10px 15px;
}

    .login_button_div button {
        width: 100%;
    }

.txt_username, .txt_password {
    margin-bottom: 5px;
}

.login-pane {
}

.login-pane-child {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 0 19px 0 #003C6D;
    display: block;
    height: 370px;
    margin: 135px auto;
    position: relative;
    max-width: 302px;
}

.company-avatar {
    align-content: center;
    background-image: url("Images/PCBL.png");
    background-position: center center;
    background-size: 182px 109px;
   
    background-repeat: no-repeat;
    height: 50px;
    padding: 25px;
    margin: 0 auto;
    position: relative;
    width: 252px;
    top: 26px;
    border-bottom-color: grey;
    border: 0.1px 0px 1px 0px aliceblue solid;
}

.sp {
    background-color: #ffffffe6;
    padding: 1px;
}

.footer-content-menu-list {
    margin-left: 15px;
}

    .footer-content-menu-list > ul {
        color: #ffffffe6;
        display: inline;
        float: left;
        font-size: 0.8em;
        white-space: nowrap;
    }

        .footer-content-menu-list > ul li {
            display: block;
            float: left;
            margin: 0;
            padding: 0 1.5em 0 0;
            position: relative;
        }

            .footer-content-menu-list > ul li a:hover {
                color: rgba(147, 142, 142, 0.9);
                cursor: pointer;
                text-decoration: underline;
            }

    .footer-content-copyright, .footer-content-menu-list > a {
        color: #ffffffe6;
        display: block;
        float: right;
        font-size: 0.8em;
        margin: 0;
        padding: 1em 1.5em 0 0;
        position: relative;
    }

.forgot_password {
    color: rgba(34, 34, 34, 0.89);
    cursor: pointer;
    font-size: 0.8em;
    margin: 0px auto;
    display: block;
    width: 91px;
}

    .forgot_password:hover {
        text-decoration: underline;
    }

.company_name {
    color: #ffffff;
    font-family: Verdana, sans;
    font-size: 1.8em;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    width: 99%;
    padding: 2px;
}

.hrms {
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.company_name_harder {
    background-color: #00897B;
    border-radius: 5px;
}

.error {
    z-index: 1000;
    position: absolute;
    color: red;
    padding: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login_loader {
    position: absolute;
    margin: 1px 45px;
}

.login-btn-active {
    background: rgba(27, 187, 173, 0.93) none repeat scroll 0 0;
    border: 1px solid rgba(27, 187, 173, 0.93);
    color: #ffffff;
}

.login-textbox-disable-class {
    background-color: #f6f6f6;
}

.bg-img {
    align-content: center;
    background-image: url("Images/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    filter: blur(2px);
}
