@{
    Layout = null;
}
@model   Appraisal.AppSubCategory
<!DOCTYPE html>
<style>
  
    .popup-content-label {
        display: block;
        float: left;
        width: 68px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    /*.row3 {
        width: 402px;
    }*/



    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>

<html> 
<body>
    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAppSubCategory"  }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
           
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Code, "Code :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must", @id = "SubCode", @maxlength = "10" })
            </div>

             <div class="row3 content_margine">
                 @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })
                 @Html.TextAreaFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "SubName", @maxlength = "50" })
             </div>
        }
    </div>
</body>
</html>
<script>
    $(document).ready(function (e) {
        $('#SubCode').MaxLength(10);
        $('#SubName').MaxLength(50);
    }
</script>