@{
    Layout = null;
}

@model Appraisal.BA_SubCategory
@*<link href="~/Content/staginant/staginant.css" rel="stylesheet" />*@
<script>
    $(document).ready(function () {

    });

</script>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmBA_SubCategory", name = "frmBA_SubCategory" }))
    {


        <div class="row3 content_margine" style="width: 420px;">
            @Html.LabelFor(m => m.Code, "SubCategory Code :", new { @class = "popup-content-label " })
            @Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must", @id = "SubCode", @maxlength = "10" })

        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.Name, "SubCategory Name :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "SubName", @maxlength = "50" })
        </div>
    }
</div>





