@{
    Layout = null;
}
<script>
    $(function () {
        $('.popup_radio_button').controlgroup();
        $('#CloserDate-edit').P2BDatePicker();

        $('input[name="IsActive"]:radio').change(function () {
            if (this.value == "false") { $('#CloserDate-edit').prop("disabled", false); $('#CloserDate-edit').val(""); }
            else { $('#CloserDate-edit').prop("disabled", true); }
        });
        $('input[name="IsActive"]').val([true]);
        $('#Edit-Category').selectmenu().selectmenu('menuWidget');
        $('#Edit-SubCategory').selectmenu().selectmenu('menuWidget');
    });

</script>
<style>
    .row2 {
        width: 400px;
    }
</style>
<form id="Edit-loanadvrequest" method="post" name="Edit-loanadvrequest">

    <div class="row2 content_margine">
        <label class="popup-content-label">Category :</label>
        <select class="drop" id="Edit-Category" name="Category" style="width:200px"><option></option></select>
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">Subcategory :</label>
        <select class="drop" id="Edit-SubCategory" name="Subcategory" style="width:200px"><option></option></select>
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">TargetAccounts :</label>
        <input id="Edit-TargetAccounts" name="TargetAccounts" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">TargetAmount:</label>
        <input id="Edit-TargetAmount" name="TargetAmount" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">TargetCompliance:</label>
        <input id="Edit-TargetCompliance" name="TargetCompliance" />
    </div>
</form>

