@{
    ViewBag.Title = "DashBoard";
}
<script>
    $(document).ready(function (e) {
        $("#HideLink").hide();
        var a = "";
        $.ajax({

            method: "POST",
            url: "@Url.Action("CheckEmp")",
            data: { forwardata: a },
            beforeSend: function () {
                ajaxloaderv2('body');
            },
            success: function (data) {
                
                if (data == "true") {
                   
                    $("#HideLink").show();
                }
                else {

                    $("#HideLink").hide();
                }
            },
            error: function (data) {
            }, complete: function (data) {
                $('.ajax_loder').remove();
               
            }
        });




        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

    });
</script>
<body>
    <div class="popup-content-label2" id="HideLink">
        <br />
        <div class="popup-content-label3"><a href="loginaccess" style="color:red">Click here to add login access for new joining Employees</a></div>
        <div class="popup-content-label3"><a href="loginaccess" style="color:red">Click here to add login access for transferred Employees</a></div>
        <div class="popup-content-label3"><a href="Deputationaccess" style="color:red">Click here for Deputation transfer to Employees</a></div>
    </div>
</body>
<style>
    .chart-container-parent {
        width: 100%;
    }

    .chart-container {
        position: relative;
        display: inline-block;
        margin: 2px;
        height: auto;
        border: 0.5px solid #ccc;
    }

    .chart-container-heading {
        font-weight: bold;
        font-size: 12px;
        margin: 4px;
    }

    .popup-content-label2 {
        width: 100%;
        display: flow-root;
        float: left;
        margin: 1.5px;
    }

    .hori_line {
        display: block;
        width: 99%;
        height: auto;
        color: black;
        height: 1px;
        margin: 13px auto auto;
    }

    .chart-container-buttons {
        float: right;
        /*! top: 0; */
        margin: -5px auto;
    }

        .chart-container-buttons > ul > li {
            display: inline-flex;
            margin: -15px auto;
            padding: 1px;
        }

    .refresh-btn, .fullscreenchart {
        cursor: pointer;
        font-size: 1.5em;
        color: grey;
    }

    .chart-type {
        position: relative;
    }
</style>
