@model P2b.Global.City
@{
    Layout = null;
}
<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>
<style>
    .city_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .city_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .city_row3 {
        width: 250px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCity" }))
    {
        <div class="city_row3 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "city_popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "city_popup-content-textbox must", id = "CityCode", @maxlength = "10" })</div>
        <div class="city_row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "city_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "city_popup-content-textbox must", id = "CityName", @maxlength = "30" })</div>
        <div class="city_row3 content_margine">@Html.LabelFor(m => m.Category, "Category :", new { @class = "city_popup-content-label must" })<select class="drop must" name="Category_drop" id="Category_drop"><option></option></select></div>
    }
</div>
<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "200px" });
        $('#Category_drop').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 401, "");

        //$('#CityCode').ForceOnlyAlphaNumeric();
        //$('#CityCode').MaxLength(10);
        $('#CityCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#CityName').MaxLength(30);

    });
</script>
