@{
    Layout = null;
}
<style>
    .cont_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .cont_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 95px;
    }

    .cont_row {
        width: 350px;
    }
</style>
<script>
    $(document).ready(function () {
        // $('#MobileNo').ForceOnlyNumeric();
        $('#MobileNo').MaxLength(10);
        $('#MobileNo').ForceContactNumber();
        $('#LandlineNo').ForceOnlyNumeric();
        $('#LandlineNo').MaxLength(15);
    });

</script>

@model P2b.Global.ContactNumbers
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmContactNo", name = "frmContactNo" }))
    {
        <div>@Html.LabelFor(m => m.MobileNo, "Mobile No :", new { @class = "cont_popup-content-label" })@Html.TextBoxFor(m => m.MobileNo, new { @class = "cont_popup-content-textbox", @maxlength = "10" })</div>
        <div>@Html.LabelFor(m => m.LandlineNo, "Landline No :", new { @class = "cont_popup-content-label" })@Html.TextBoxFor(m => m.LandlineNo, new { @class = "cont_popup-content-textbox", @maxlength = "15" })</div>
    }
</div>