@{
    Layout = null;
}

<style>
    .section2_Leave {
        display: block;
        border: 1px solid #ddd;
        height: 502px;
        width: 40.5%;
        margin: 2px -393px;
        position: absolute;
        left: 401px;
    }

  #monthTable {
        border-collapse: collapse;
        width: 100%;
        font-size: 10PX;
   }

  #monthTable td, #monthTable th {
            border: 1px solid #ddd;
            padding: 8px;
   }
 
  #monthTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #009282;
        color: white;
    }

</style>
<script>
    $(document).ready(function () {
        $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
    });
</script>

<body>
    <div class="section2_Leave">
        <div>
            <label class="heading">Attendance Details</label>
            <table id="monthTable">
                <tr><th>PunchDate</th><th>InTime</th><th>OutTime</th><th>PunchInLocation</th><th>PunchOutLocation</th></tr>
            </table>
        </div>
    </div>
</body>
