@{
    ViewBag.Title = "_EmpPunchHistory";
}
@{
    Layout = null;
}
<table class="custome-table" id="link-popup-Emp-punch-history"></table>
@*<script>
    $('#link-popup-Emp-punch-history').RenderTable({
        dataurl: "@Url.Action("Get_Employee_History", "elms")",
        forwardData: $("#EmployeeId").val(),
        returnfun: function () {
            $("#link-popup-Emp-punch-history tbody").addClass("custome-table-content");
        }
    });
</script>*@
<style>

</style>
