@{
    Layout = null;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmImageviewer", name = "frmImageviewer" }))
{
    <div class="header-title">
        <a class="img_Investment_icon">
            <img alt="" src="" id="dashboard-Investment-viewer" style="background-repeat: no-repeat; height: 100%; width: 100%; " />
        </a>
        <embed src="" id="pdfload" type="application/pdf" height="700" width="500">
    </div>
}
<style>
    .header-title {
        width: 100%;
        float: right;
        display: block;
    }
</style>
 
 
