@{
    Layout = null;
    
}
<link href="~/Content/it_sub_investment/it_sub_investment.css" rel="stylesheet" />
@model Payroll.ITSubInvestment
           @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmsubinvestment", name = "frmsubinvestment" }))
           {
           <div>
               <div class="it_sub_row1 content_margine">@Html.LabelFor(m => m.SubInvestmentName, "Name:", new { @class = "it_sub_popup-content-label must" })
               @Html.TextBoxFor(m => m.SubInvestmentName, new { @class = "it_sub_popup-content-textbox must" })</div>
           </div>
           }
<script>
    $(document).ready(function () {
      //  $('#SubInvestmentName').MaxLength(50);
        $('#SubInvestmentName').ValidateTextBox({ maxlength: 50, alphanum: true });
    });


</script>