@{
    Layout = null;
}
<style>
   
    .popup-content-label {
        width: 100px;
        display: block;
        float: left;
    }

    .row1 {
        width: 635px;
        display: inline-block;
    }

    .hide_textbox {
        display: none;
    }

    .container_div {
        border: 1px solid rgba(207, 207, 207, 0.91);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section1_Leave {
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 554px;
        width: 534px;
        margin: 4px auto;
        position: absolute;
    }

    .section2_Leave {
        display: block;
        border: 1px solid #ddd;
        height: 554px;
        width: 610px;
        margin: 5px 4px;
        position: absolute;
        left: 546px;
    }

    .hide-div {
        display: none;
    }

    .heading {
        background: rgba(207, 207, 207, 0.91) none repeat scroll 0 0;
        color: #424242;
        display: block;
        font-size: 1em;
        font-weight: bold;
        height: 15px;
        margin: 3px auto;
        padding: 2px 0 1px 2px;
        width: 99%;
    }

    .hide-div {
        display: none;
    }

    .lv-label {
        width: 138px;
        font-size: 9px;
        padding: 1px;
        position: relative;
        float: left;
    }

    .lb-data {
        font-weight: bold;
        font-size: 11px;
        float: left;
    }

</style>

<div id="create_dialog" title="Create LvCreditpolicy">
    <div class="section_Method" id="lv-div" style="display:block">
        <div class="heading">Policy Info </div>
        <div class="row1 content_margine">
            <label class="lv-label">PolicyName :</label>
            <div id="PolicyName" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">LvHead :</label>
            <div id="LvHead" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">MaxUtilDays :</label>
            <div id="MaxUtilDays" class="lb-data" style="width:391px;"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">MinUtilDays :</label>
            <div id="MinUtilDays" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">YearlyOccurances :</label>
            <div id="YearlyOccurances" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">HalfDayAppl :</label>
            <div id="HalfDayAppl" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">HolidayInclusive :</label>
            <div id="HolidayInclusive" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Sandwich :</label>
            <div id="Sandwich" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PreApplied :</label>
            <div id="PreApplied " class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PreDays :</label>
            <div id="PreDays" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PostApplied :</label>
            <div id="PostApplied" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PostDays :</label>
            <div id="PostDays" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PrefixSuffix :</label>
            <div id="PrefixSuffix" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PreApplyPrefixSuffix :</label>
            <div id="PreApplyPrefixSuffix" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PostApplyPrefixSuffix :</label>
            <div id="PostApplyPrefixSuffix" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PrefixGraceCount :</label>
            <div id="PrefixGraceCount" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">PrefixMaxCount :</label>
            <div id="PrefixMaxCount" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">ApplyFutureGraceMonths :</label>
            <div id="ApplyFutureGraceMonths" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">ApplyPastGraceMonths :</label>
            <div id="ApplyPastGraceMonths" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Combined :</label>
            <div id="Combined" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">CombineLeaveHeads :</label>
            <div id="CombineLeaveHeads" class="lb-data"></div>
        </div>
    </div>
</div>