@{
    Layout = null;
}

<style>
    .section1_Leave {
        display: block;
        /*border: 1px solid #ddd;*/
        height: 502px;
        /*width: 40.5%;*/
        margin: 2px -393px;
        position: absolute;
        left: 401px;
    }

    .section2_Leave {
        display: block;
        /*border: 1px solid #ddd;*/
        height: 502px;
        /*width: 97.5%;*/
        /*margin: 2px -393px;*/
        margin-top: 103px;
        position: absolute;
        /*left: 401px;*/
    }

    #monthTable1 {
        border-collapse: collapse;
        width: 100%;
        font-size: 10PX;
    }

        #monthTable1 td, #monthTable1 th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #monthTable1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }

    #monthTable2 {
        border-collapse: collapse;
        width: 100%;
        font-size: 10PX;
    }

        #monthTable2 td, #monthTable2 th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #monthTable2 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }
</style>
<script>
    $(document).ready(function () {
        $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
    });
</script>
<body>
    <div class="section1_Leave">
        <div>
            <label class="heading">OutDoor Requisition History</label>
            <table id="monthTable2">
                <tr><th>EmpCode</th><th>EmpName</th><th>ReqDate</th><th>SwipeDate</th><th>SwipeRemark</th><th>Intime</th><th>Outtime</th><th>Reason</th><th>Status</th></tr>
            </table>
        </div>
    @*</div>
        <div class="section2_Leave">
            <div>
                <label class="heading">OutDoor Requisition History</label>
                <table id="monthTable2">
                    <tr><th>EmpCode</th><th>EmpName</th><th>ReqDate</th><th>SwipeDate</th><th>SwipeRemark</th><th>Intime</th><th>Outtime</th><th>Reason</th><th>Status</th></tr>
                </table>
            </div>
        </div>*@
</body>


