@{
    Layout = null;
}
@model EssPortal.Models.FileModel

<html>
<style>
    .popup-content-label {
        width: 108px;
        display: block;
        float: left;
    }

    .row1 {
        width: 635px;
        display: inline-block;
    }

    .hide_textbox {
        display: none;
    }

    .container_div {
        border: 1px solid rgba(207, 207, 207, 0.91);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section1_Leave {
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 554px;
        width: 534px;
        margin: 4px auto;
        position: absolute;
    }

    .section2_Leave {
        display: block;
        border: 1px solid #ddd;
        height: 554px;
        width: 610px;
        margin: 5px 4px;
        position: absolute;
        left: 546px;
    }

    .heading {
        background: rgba(207, 207, 207, 0.91) none repeat scroll 0 0;
        color: #424242;
        display: block;
        font-size: 1em;
        font-weight: bold;
        height: 15px;
        margin: 3px auto;
        padding: 2px 0 1px 2px;
        width: 99%;
    }

    .hide-div {
        display: none;
    }

    .lv-label {
        width: 118px;
        font-size: 9px;
        padding: 1px;
        position: relative;
        float: left;
    }

    .lb-data {
        font-weight: bold;
        font-size: 11px;
        float: left;
    }
</style>
</head>

<body>
    <form id="frmOfficiatingAndLtaView" name="frmOfficiatingAndLtaView" method="post">

        <input type="text" class="hide_textbox" name="authority" id="authority" />
        <input type="text" class="hide_textbox" name="isClose" id="isClose" />
        <input type="text" class="hide_textbox" name="FunctionAttId" id="FunctionAttId" />
        <div class="section_Method" id="lv-div" style="display:block">
            @*<div class="heading">Employee Info </div>*@
            <div class="row1 content_margine">
                <label class="lv-label">Salary Head Operation Type :</label>
                <div id="Salheaditem" class="lb-data"></div>
            </div>

            <div class="row1 content_margine">
                <label class="lv-label">Leave Code :</label>
                <div id="Leaveitem" class="lb-data" style="margin-left:80px; margin-top:-13px"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Officiating In Place Of :</label>
                <div id="txtOffIncharge" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">On Officiating PayStructdetails :</label>
                <div id="OffPaystructItem" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">From Date :</label>
                <div id="OffFrmDate" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">To Date :</label>
                <div id="OffTodate" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Narration :</label>
                <div id="OffNarration" class="lb-data"></div>
            </div>
          
            @*<div class="row1 content_margine">
                <label class="lv-label">Grade:</label>
                <div id="OffGrade" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Designation:</label>
                <div id="OffDesignation" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Location:</label>
                <div id="OffLocation" class="lb-data"></div>
            </div>*@
           
           

            <div class="section_Method hide-div" id="MySelf-div">
                <div id="MySelfDiv">
                    <div class="heading">MySelf Authority Views</div>
                    <div id="yes_no_div" class="row1 content_margine">
                        <label class="popup-content-label">
                            Is Cancel:
                        </label>
                        <div class="popup_radio_button">
                            <input type="radio" name="IsCancel" value="true" id="rdo5" /><label for="rdo5">Yes</label>
                            <input type="radio" name="IsCancel" id="rdo6" value="false" /><label for="rdo6">No</label>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="section_Method hide-div" id="Sanction-div">
                <div id="SanctionDiv">
                    <div class="heading">Sanction Authority Views</div>
                    <div id="yes_no_div" class="row1 content_margine">
                        <label class="popup-content-label must">
                            Sanction Status:
                        </label>
                        <div class="popup_radio_button">
                            <input type="radio" name="Sanction" value="true" id="rdo1" /><label for="rdo1">Yes</label>
                            <input type="radio" name="Sanction" id="rdo2" value="false" /><label for="rdo2">No</label>
                        </div>
                    </div>
                    <div class="row1 content_margine">
                        <label class="popup-content-label must">Reason :</label>
                        <input type="text" id="Grid-ReasonSanction" name="ReasonSanction" />
                    </div>
                </div>
            </div>
            <div class="section_Method hide-div" id="Approval-div">
                <div id="ApprovalDiv" class="row1 content_margine">
                    <div class="heading">Approval Authority View</div>
                    <label class="popup-content-label must">
                        Approval Status:
                    </label>
                    <div class="popup_radio_button">
                        <input type="radio" name="Approval" value="true" id="rdo3" /><label for="rdo3">Yes</label>
                        <input type="radio" name="Approval" id="rdo4" value="false" /><label for="rdo4">No</label>
                    </div>
                    <div class="row1 content_margine">
                        <label class="popup-content-label must">Reason :</label>
                        <input type="text" id="Grid-ReasonApproval" name="ReasonApproval" />
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>
</html>
<script>
    $(document).ready(function (e) {
        $('.popup_radio_button').buttonset();
        console.log($.LocalStorageHelper.Get("Whois"));
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "SANCTION".toUpperCase()) {
            $('#Sanction-div').show();
            $('#SanctionReasonDiv,#ApprovalReasonDiv').hide();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#Sanction-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MySelf".toUpperCase()) {
            $('#MySelf-div').show();
            // $('#MySelfReasonDiv,#ApprovalReasonDiv').hide();
            $('#SanctionReasonDiv,#ApprovalReasonDiv').show();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            // $('#Sanction-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "ReComandtion".toUpperCase()) {
            $('#ReComandtion-div').show();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#ReComandtion-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Approval".toUpperCase()) {
            $('#Approval-div').show();
            $('#ApprovalReasonDiv').hide();
            $('#SanctionReasonDiv').show();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#Approval-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "HR".toUpperCase()) {
            $('#HR-div').show();

            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#HR-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Viewer".toUpperCase()) {
            //   $('#HR-div').show();
        } else {
            // $('#HR-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MYSELF".toUpperCase()) {
        } else {
        }
        //} else {
        //    $('#HR-div').hide(); $('#Approval-div').hide(); $('#ReComandtion-div').hide(); $('#Sanction-div').hide();
        //}

    });

</script>