@model P2b.Global.Skill
@{
    Layout = null;
}
<style>
    .sk_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 140px;
    }

    .sk_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 76px;
    }

    skill_row1 {
        width: 200px;
    }
</style>
<form method="post" id="frmSkillView" name="frmSkillView">
    <input type="text" class="hide_textbox" name="maintableid" id="maintableid" />
    <div id="create_dialog" title="Create Skill Details">
        <div class="section_Method" id="lv-div" style="display:block">
            <div class="heading">Employee Info </div>
            <div class="row1 content_margine">
                <label class="lv-label">Employee :</label>
                <div id="Employee" class="lb-data"></div>
            </div>
        </div>
        <div class="heading">Qualification Details </div>
        <div class="row1 content_margine">
            <label class="lv-label">Name :</label>
            <div id="Name" class="lb-data"></div>
        </div>
      
    </div>


    <div class="section_Method" id="Sanction-div">
        <div id="SanctionDiv">
            <div class="heading">Approval Authority Views</div>
            <div id="yes_no_div" class="row1 content_margine">
                <label class="popup-content-label">
                    Approval Status:
                </label>
                <div class="popup_radio_button">
                    <input type="radio" name="Approval" value="true" id="rdo1" /><label for="rdo1">Yes</label>
                    <input type="radio" name="Approval" id="rdo2" value="false" /><label for="rdo2">No</label>
                </div>
            </div>
            <div class="row1 content_margine">
                <label class="popup-content-label">Reason :</label>
                <input type="text" id="Grid-ReasonApproval" name="ReasonApproval" />
            </div>
        </div>
    </div>

</form>
<script>
    $(function () {
        $('button').button();
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('.date').P2BDatePicker();
        $('.popup_radio_button').buttonset();
    });
</script>