@model P2b.Global.Skill
@{
    Layout = null;
}
<style>
    .sk_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 140px;
    }

    .sk_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 76px;
    }

    skill_row1 {
        width: 200px;
    }
</style>


<div id="create_dialog" title="Create Skill">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSkill1", name = "frmSkill1" }))
    {

        <input id="auth_action" type="hidden" name="auth_action" />
        <input id="Add" type="hidden" name="Add" />
        <input id="autho_allow" type="hidden" name="autho_allow" />
        <input id="isauth" type="hidden" name="isauth" />
        <input id="id" type="hidden" name="auth_id" />

       <div class="row3 content_margine">
            @Html.LabelFor(m => m.Name, "Name :", new { @class = "sk_popup-content-label must" })
            @Html.TextBoxFor(m => m.Name, new { @class = "sk_popup-content-label must", @maxlength = "50", @id = "Name1" })
        </div>

       

    }
</div>