

@{
    Layout = null;
}
@model P2b.Global.SocialActivities


    @*<link href="~/Content/social_activity/social_activity.css" rel="stylesheet" />*@
<style>

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 95px;
    }

    .row1 {
        width: 264px;
    }
    </style>


<body>
    <div id="create_dialog1">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSocialActivities" }))
        {
            <input id="auth_action" type="hidden" name="auth_action" />
            <input id="Add" type="hidden" name="Add" />
            <input id="autho_allow" type="hidden" name="autho_allow" />
            <input id="isauth" type="hidden" name="isauth" />
            <input id="id" type="hidden" name="auth_id" />
            <div class=" row1 content_margine"> @Html.LabelFor(m => m.InstituteName, "Institute :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.InstituteName, new { @class = "popup-content-textbox must" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.PostHeld, "Post Held :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PostHeld, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.FromPeriod, "From Period :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FromPeriod, new { @class = "popup-content-textbox-short must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.ToPeriod, "To Period :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ToPeriod, new { @class = "popup-content-textbox-short must" })</div>
        }
    </div>
</body>
<script>
    $(document).ready(function (e) {
        $('button').button();
        $('.popup_radio_button').buttonset();
        $('#FromPeriod,#ToPeriod').P2BDatePicker();
        $('#InstituteName').ValidateTextBox({ maxlength: 50, name: true });
        $('#PostHeld').ValidateTextBox({ maxlength: 50, name: true });

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
    });
    // $('#jqgrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
</script>























