@{
    Layout = null;
}
@model P2b.Global.State
<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>
<style>
    .state_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 50px;
    }

    .state_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .state_row3 {
        width: 215px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmState" }))
    {
        <div class="state_row3 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "state_popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "state_popup-content-textbox must", id = "StateCode", @maxlength = "10" })</div>
        <div class="state_row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "state_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "state_popup-content-textbox must", id = "StateName", @maxlength = "30" })</div>
    }
</div>
<script>
    $(document).ready(function () {
        //$('#StateCode').ForceOnlyAlphaNumeric();
        //$('#StateCode').MaxLength(10);
        $('#StateCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#StateName').MaxLength(30);
    });

</script>
