@model Training.YearlyTrainingCalendar
@{
    Layout = null;
}
<style>
    .icon-row {
        position: relative;
        left: 108px;
        top: -150px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 153px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 568px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
    .sk_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 140px;
    }

    .sk_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 76px;
    }

    skill_row1 {
        width: 200px;
    }
</style>

<script>
        $(document).ready(function (e) {
            $('button').button();

            
            $('#lookup-TrainigProgramCalendar-TrainingHistory').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetSubInvPayLKDetails", "TrainingHistory")', '', 'lookupdiv', 'TrainigProgramCalendar Look Up Data', '#TrainigProgramCalendarlist', 'TrainigProgramCalendarlist', 5, 'TrainigProgramCalendarlist', '#frmTrainingHistory1', 'A', '#remove-TrainigProgramCalendar-ITInvestmentPayment', 'lookup_table', 'pageNavPosition');
                event.preventDefault();
            });

            

            $('#remove-TrainigProgramCalendar-TrainingHistory').button().on('click', function (event) {
                //dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'Id');
                var a = [], b;
                a = $('#TrainigProgramCalendarlist').P2BGetTableDataonSelectedRow('#TrainigProgramCalendarlist', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TrainigProgramCalendarlist', $('#TrainigProgramCalendarlist').val(), 200, 200, '#frmTrainingHistory1', '#TrainigProgramCalendarlist', '#remove-TrainigProgramCalendar-ITInvestmentPayment');
                event.preventDefault();
            });
            
        });

</script>

<div class="dialog">
    <div title="LookUp Data">
        <div class="lookupdiv"></div>
    </div>
    <div id="pageNavPosition">

    </div>
</div>
<div id="create_dialog" title="Create TrainingHistory">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmTrainingHistory1", name = "frmTrainingHistory1" }))
    {

        <input id="auth_action" type="hidden" name="auth_action" />
        <input id="Add" type="hidden" name="Add" />
        <input id="autho_allow" type="hidden" name="autho_allow" />
        <input id="isauth" type="hidden" name="isauth" />
        <input id="id" type="hidden" name="auth_id" />


        <div class="row3 content_margine">
            <div id="TrainigProgramCalendarlist_old"></div>@Html.LabelFor(m => m.TrainigProgramCalendar, "Trainig Program Calendar :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="TrainigProgramCalendarlist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup TrainigProgramCalendar" class="  popup-content-icon-lookup" id="lookup-TrainigProgramCalendar-TrainingHistory"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                @*<button data-p2btooltip="Create ITSubInvestmentPayment" class="  popup-content-icon-create" id="create-ITSubInvestmentPayment-ITInvestmentPayment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit ITSubInvestmentPayment" class="  popup-content-icon-edit" id="edit-ITSubInvestmentPayment-ITInvestmentPayment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                <button data-p2btooltip="Remove TrainigProgramCalendar" class="  popup-content-icon-remove" id="remove-TrainigProgramCalendar-TrainingHistory"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>



    }
</div>