<!DOCTYPE html>
@{
    ViewBag.Title = "Welcome Screen";
}
<html>

<head>
    <title>Welcome</title>
</head>
<div id="createdialog_welcomescreen">
    <div style="font-family:'Times New Roman'">
        <br />
        <br />
        <div id="dialog_content">
            <div style="font-size: 3em;" class="welcome_note">Welcome&nbsp;<span id="name_user">@Session["username"]</span></div>
            <br />
            <span style="margin: 0px auto; width: 439px; display: block; font-size: 18px; ">Because of privacy concern you need to change password</span>
            <br />
            <br />
            <span class="hori_line"></span>
            <br />
            <div class="buttondiv" id="change_pass" style="cursor: pointer; border-bottom-color: #2196F3; ">
                <a href="@Url.Action("partial","initialchangepassword")"><i class="fa fa-unlock fa-2x" aria-hidden="true" style="color: #2196F3;"></i><span style="font-size: 1.8em; color: #2196F3">&nbsp;&nbsp;ChangePassword</span></a>
            </div>
            @*<div class="buttondiv" id="not_now" style="position: absolute; bottom: 0%; right: 0%; width: 111px; cursor: pointer; border-bottom-color: rgb(128, 128, 128);">
                <a href="@Url.Action("Index", "CoreDashboard")">
                    <i class="fa fa-angle-double-right fa-fw fa-2x" style="color:#808080" aria-hidden="true"></i><span style="font-size: 1.8em; color: #808080">&nbsp;NotNow</span>
                </a>
            </div>*@

        </div>
    </div>
</div>
</html>
<script>
    $(function () {

        var dia = $('#createdialog_welcomescreen').dialog({
            autoOpen: false,
            height: 262,
            width: 540,
            dialogClass: "welcomediv",
            modal: true,
            closeOnEscape: false,
        });
        dia.dialog("open");
        $('#not_now').on('click', function (e) {
            dia.dialog('close');
        });

    });
</script>
<style>
    #name_user {
        color: #2196F3;
    }

    .buttondiv {
        position: relative;
        margin: 0 auto;
        width: 179px;
    }

        .buttondiv:hover {
            border-bottom: solid 0.1px;
        }

    .ui-dialog-titlebar, .head {
        border-radius: 0px;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-widget-header, .welcomediv {
        background-color: rgb(255, 255, 255);
        border: none;
        border-color: rgb(255, 255, 255);
    }

    .welcome_note {
        margin: 0px auto;
        width: 190px;
    }

    .hori_line {
        display: block;
        width: 90%;
        color: rgba(162, 162, 162, 0.3);
        border: 1px solid;
        margin: 0 auto;
    }
</style>