@{
    ViewBag.Title = "Release Suspended Login";
}
@model P2b.Global.LogRegister


<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 56px;
            top: -151px;
        }

        .icon-rowreporting {
            position: relative;
            left: 93px;
            top: -151px;
        }

        .emp_icon-row {
            position: relative;
            left: 324px;
            top: -27px;
        }

        .row1 {
            width: 423px;
        }

        .row4 {
            width: 300px;
            display: inline-block;
        }

        .row5 {
            width: 299px;
            display: inline-block;
        }

        .row6 {
            width: 338px;
            display: inline-block;
        }

        .popup-content-label {
            width: 132px;
            display: block;
            float: left;
            margin: 1.5px;
        }

        .popup-content-label2 {
            width: 100%;
            display: flow-root;
            float: left;
            margin: 1.5px;
        }

        .popup-content-label3 {
            width: 25%;
            display: list-item;
            float: left;
            margin: 1.5px;
            font-size: 1em;
        }

        .popup-content-textbox {
            width: 206px;
        }

        .row2 {
            width: 506px;
            display: inline-block;
        }

        .row3 {
            width: 300px;
            display: inline-block;
        }

        .section1 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 322px;
            width: 426px;
            margin: 4px auto;
            position: absolute;
            left: 4px;
            top: 37px;
        }

        .section6 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 241px;
            width: 1037px;
            margin: 4px auto;
            position: absolute;
            top: 323px;
        }

        .section2 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 486px;
            width: 1043px;
            margin: 4px auto;
            position: absolute;
            top: 551px;
            left: -5px;
        }

        .section3 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 155px;
            width: 613px;
            margin: 4px auto;
            position: absolute;
            left: 429px;
            top: -5px;
        }

        .section4 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 92px;
            width: 613px;
            margin: 4px auto;
            position: absolute;
            left: 429px;
            top: 224px;
        }

        .section5 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 64px;
            width: 613px;
            margin: 4px auto;
            position: absolute;
            left: 429px;
            top: 154px;
        }

        .short_width {
            width: 74px;
        }

        .date_label {
            width: 132px;
        }

        .popup-content-textbox-short {
            min-width: 45%;
        }

        .short_width_pay {
            width: 74px;
            display: block;
            float: left;
        }

        .add_label {
            display: block;
            float: left;
            width: 98px;
            margin: 1px;
        }

        #Gender-button, #MaritalStatus-button {
            margin-right: 59px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            display: inline-block;
            left: 0;
            top: 4px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            position: absolute;
            width: 20px;
            left: 24px;
        }

        .popup-content-drop-icon-edit {
            left: 76px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }


        .popup-content-drop-icon-create {
            left: 52px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" style="width: auto;margin-left: 2px;" id="Create">
                    Release Suspend Login
                </button>
                
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormReleaseSuspendLogin", name = "FormReleaseSuspendLogin" }))
        {

            <div class="content_margine row2">

                <label class="popup-content-label add_label" style="">Release Suspend:</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ReleaseSuspendlist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Suspended Login" class=" popup-content-icon-lookup" id="Lookup-ReleaseSuspend-Employee"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                    <button data-p2btooltip="Delete Suspended Login" class=" popup-content-icon-remove" id="Remove-ReleaseSuspend-Employee"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            @*<div class="Button_Container">
                <button class="button" id="submit" >Submit</button>
            </div>*@
        }
    </div>


</body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();

        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;

        ColModel = ['Code', 'Name', 'Suspend', 'MaxNoOfLogIn', 'Id'];
        ColNames = ['Code', 'Name', 'Suspend', 'MaxNoOfLogIn', 'Id'];

        SortName = 'Id';
        Caption = 'Suspended Logins';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function () {
            $('#FormReleaseSuspendLogin').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Release Suspend Login', 'open', '@Url.Action("ReleaseSuspend", "ReleaseSuspendLogin")', '#FormReleaseSuspendLogin', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', function (data) { });

        });
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('.drop').selectmenu().selectmenu('menuWidget');
        
        $('#Lookup-ReleaseSuspend-Employee').button().on('click', function (event) {

            $('.dialog').P2BLookUpModal('@Url.Action("GetSuspendedLogins", "ReleaseSuspendLogin")', '', 'LookupDiv', 'Employee Name ', '#ReleaseSuspendlist', 'ReleaseSuspendlist', 5, 'ReleaseSuspendlist', '#FormReleaseSuspendLogin', 'A', '#Remove-ReleaseSuspend-Employee', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('#Remove-ReleaseSuspend-Employee').button().on('click', function (event) {

            var selectedRows = [];
            selectedRows = $('#ReleaseSuspendlist').P2BGetTableDataonSelectedRow('#ReleaseSuspendlist', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ReleaseSuspendlist', $('#ReleaseSuspendlist').val(), 200, 200, '#FormReleaseSuspendLogin', '#ReleaseSuspendlist', '#Edit-ResAddrs-Employee,#Remove-ReleaseSuspend-Employee');
            event.preventDefault();
        });


        // coded by Anandrao Commented on : 05-07-2024
        //function buttonclick() {
        //    var test1 = $('#ReleaseSuspendlist').find('tr').length;
        //    test1 = test1 + test1;
        //    //alert(test1);
        //    var empidStr = [];
        //    for (var i = 0; i < test1; i++) {

        //        var text = $('#ReleaseSuspendlist').find('td').eq([i]).text();
        //        if (text != "") {
        //            empidStr.push(text);
        //            console.log(text);
                    
                    
        //        }
        //        i = i + 1; // skip alternate index
                
        //    }
        //    //alert(empidStr);

        //    $.ajax({
        //        method: "POST",
        //        url: "./ReleaseSuspendLogin/ReleaseSuspend",
        //        data: { employeeids: empidStr.toString() },
        //        success: function (result) {
        //            alert(result.responseText);
        //        },
        //        error: function (err) {
        //            alert(err.responseText);
        //        }
        //    });
        //}
        //$('#submit').on('click', function (eve) {
            
        //    buttonclick();
        //    eve.preventDefault();
        //});

        // e.preventDefault();
    });
</script>
