
.ui-widget {
    font-family: Verdana;
    font-size: 0.9em;
}

#input_form {
    font-size: 0;
    margin: 5px;
    overflow: hidden;
    padding: 1px;
    width: auto;
}

.Form_Input {
}

.page_title {
    background-color: #18a689;
    border-radius: 5px;
    display: block;
    font-size: 19px;
    height: 34px;
    margin-left: 2px;
    margin-top: 2px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.form_grid_output {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    display: block;
    font-size: 0;
    height: 324px;
    margin: 0 1px;
    overflow: hidden;
    padding-top: 1px;
    width: auto;
}

.Button_Container {
    /*! height: 42px; */
    margin-left: 1px;
    margin-right: 1px;
    /*! margin-top: 9px; */
    padding: 19px;
    position: relative;
}

.Form_Bg {
    background: #ffffff none repeat scroll 0 0;
}

.error {
    border-radius: 5px;
    color: red;
    padding: 1px;
    position: absolute;
    z-index: 1000;
/*    display:block;*/
    font-size: 9px;
}

.content_margine {
    margin: 1.5px;
    padding: 0.5px;
}

#Grid_Form {
    margin-top: 38px;
    position: relative;
}

.button {
    float: left;
    margin-left: 16px;
    width: 120px;
}

.ui-dialog .ui-dialog-title {
    color: #424242;
}

.popup_radio_button {
    font-size: 9px;
/*    margin: 0 0 2px 2px;*/
}

#gbox_JqGrid {
    left: initial;
    position: relative;
}

.popup_grid {
    position: relative;
    width: 565px;
}

.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 1px 0 0;
    margin-top: 0.5em;
    padding: 0.1em 1em 0.5em 0.4em;
    text-align: left;
}


    .ui-dialog .ui-dialog-buttonpane button {
        width: 85px;
        text-align:center;
    }

.overflow {
    height: 100px;
}

.popup-content-iconmark {
    height: 16px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 16px;
}

.popup-content-icon-lookup {
    height: 20px;
    /*    left: 346px;*/
    /*    margin: auto;*/
    margin: 0 4px 4px 4px;
/*    position: absolute;*/
    width: 20px;
}

.popup-content-icon-view {
    height: 20px;
/*    left: 346px;*/
    margin: 0 4px 4px 4px;
    /*    margin: auto;*/
    /*    top: 87px;*/
    /*    position: absolute;*/
    width: 20px;
}

.popup-content-icon-create {
    height: 20px;
    /*    left: 346px;*/
    /*    margin: 0 auto;*/
    margin:0 4px 4px 4px;
    /*    position: absolute;*/
    /*    top: 22px;*/
    width: 20px;
}

/*.popup-content-icon-lookup:active {
    position: absolute;
}

.popup-content-icon-view:active {
    position: absolute;
    top: 87px;
}

.popup-content-icon-create:active {
    position: absolute;
    top: 23px;
}

.popup-content-icon-edit:active {
    position: absolute;
    top: 45px;
}

.popup-content-icon-remove:active {
    position: absolute;
    top: 67px;
}   */

.popup-content-icon-edit {
    height: 20px;
/*    left: 346px;*/
    margin: 0 4px 4px 4px;
    /*    position: absolute;*/
    /*    top: 44px;*/
    width: 20px;
}

.popup-content-icon-remove {
    height: 20px;
/*    left: 346px;*/
    margin: 0 4px 4px 4px;
/*    position: absolute;*/
/*    top: 66px;*/
    width: 20px;
}

.icon-row {
/*    left: -51px;
    position: absolute;
    top: 29px;*/
    display:flex;
    flex-direction:column;
}

.row3 {
    display: flex;
}

.search {
    padding-left: 5px;
}

.dem {
    height: 15px;
    left: -19px;
    position: relative;
    top: 3px;
    width: 15px;
}

.heading {
    background: rgba(207, 207, 207, 0.91) none repeat scroll 0 0;
    color: #424242;
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: 15px;
    margin: 3px auto;
    padding: 2px 0 1px 2px;
    width: 99%;
}

.must::after {
    color: red;
    content: "*";
}

.olddiv {
    color: #607d8b;
    display: inline-block;
    padding-left: 5px;
    position: absolute;
}

.oldlookup {
    color: #607d8b;
    margin-left: 450px;
    position: absolute;
}

.olddrop {
    color: #607d8b;
    display: inline-block;
    padding-left: 25px;
    position: absolute;
}

.auto_active {
    background: rgba(27, 187, 173, 0.93) none repeat scroll 0 0;
    border: 1px solid rgba(27, 187, 173, 0.93);
    color: #ffffff;
}

.child_span_color {
    background-color: #607d8b;
    display: block;
    height: 10px;
    margin-left: 168px;
    position: absolute;
    top: 2px;
    width: 10px;
}

.ajax_loder {
    left: 45%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
}

.old_data_div {
    position: absolute;
    /*    top: 95%;*/
    top: 0%;
    right: 0;
}

.oldradio {
    color: #607d8b;
    display: inline-block;
    margin-left: 40px;
    position: absolute;
}

.door {
    background-color: red;
    display: none;
    position: relative;
    top: 0;
}

#pass2:focus {
    box-shadow: none;
}

#pass2 {
    border-color: black;
    border-radius: 0;
}

#pass_text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.pass_door {
    background: #c0c0c0e6 none repeat scroll 0 0;
    display: none;
    position: absolute;
    top: 0;
}

.filter_title {
    display: block;
    float: right;
    margin: 14px;
}

.btn-span {
    cursor: pointer;
    float: left;
    font-size: 9px;
    padding: 10px 4px;
}

.btn-span1 {
    cursor: pointer;
    float: left;
    font-size: 9px;
    padding: 10px 4px;
}

.loan-btn {
    float: right;
    left: 19%;
}

.dynamic {
    height: 288px;
}

.from_section {
    margin: 10px 0 10px 0;
}

.from_section_box {
    border: 1.5px solid rgba(207, 207, 207, 0.91);
    margin: 4px auto;
    padding: 4px 4px 4px;
}

.filter_structure_id {
    display: none;
}

.filter-fieldset {
    border: 0.1px;
    border-color: #d1d1d1b3;
    border-style: solid;
    width: 99%;
}

/*Added at 13-12-2016 12-29*/
.employee-transcationdiv {
    border: 1px solid #c5c5c5;
    margin: 0 auto;
    width: 290px;
    border-radius: 5px;
    height: 587px;
    margin-top: 17px;
}

.employee-transcationtable {
    border: 1px solid #c5c5c5;
    margin: 0 auto;
    width: 291px;
    display: block;
    overflow: auto;
    height: 558px;
    border-collapse: collapse;
}

.dynamic {
    height: 344px;
}

.employee-transcationtable th, .employee-transcationtable td {
    background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
    padding: 5px;
    border-bottom: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    text-align: left;
    color: rgba(114, 113, 113, 0.9);
}

    .employee-transcationtable th:nth-child(1) > input, .employee-transcationtable td:nth-child(1) > input {
        margin: 0 auto;
    }


    .employee-transcationtable th:nth-child(2), .employee-transcationtable td:nth-child(2) {
        height: 100%;
        width: 100%;
        text-align: center;
    }

.employee-transcationtable tr:hover {
    cursor: pointer;
    background: #EEEEEE none repeat scroll 0 0;
}

.inline-btn > li {
    display: inline-block;
    cursor: pointer;
}

.employee-transcationdiv > div {
    display: inline-block;
    margin: 0 auto;
    padding: 4px 9px;
}


    .employee-transcationdiv > div > input {
        box-sizing: initial;
        display: inline-block;
        margin: 0 auto;
        width: 209px;
    }
/*-----------------------------------------------------------------------------*/
/*Added For Multilevel Inline Edit grid*/
.container {
    margin: 10px;
    font-size: 10px;
}

/*-------------------------------------------------------*/
/*added for filter plus and Minus*/
.advance_filter_sysmbol_class_plus:after {
    content: "(+)";
    cursor: pointer;
}

.advance_filter_sysmbol_class_minus:after {
    content: "(-)";
    cursor: pointer;
}
/*--------------------------------------------------------------------------*/
/*Added For Filter Maximixe and Mimimize*/
.advance_filter_label {
    display: block;
    width: 99%;
    margin: 1px auto;
    padding: 2px 0px;
}

.form_element {
    display: block;
    border: #DEDEDE solid 0.1px;
    width: auto;
    height: 68%;
    padding: 5px 2px;
    margin-top: 3px;
}

.filter-div {
    border: 0.1px #e4e4e4 solid;
}
/*------------------------------------------------------------------*/
.submitbtndisable {
}

    .submitbtndisable:hover {
        box-shadow: none;
    }

    .submitbtndisable:active {
        top: 0px;
    }

.titleinfo {
    float: left;
}

#selectall_lookuptable:hover {
    text-decoration-line: underline;
}

/*Snackbar Css*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #00897B;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    transform: translate(-50%, -50%);
}

    #snackbar:active {
        max-width: 200px;
    }

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.ajax-success-icon {
    color: rgba(27, 187, 173, 0.93);
}

.ajax-action-class-container {
    float: left;
    display: block;
    margin: 2px;
}

.ajax-action-text {
    width: 237px;
    display: block;
    margin: 10px 0px;
}

.ajax-error-icon {
    color: #F44336;
}

.DropdownCode {
    float: left;
}

.datatable-tableheader-class {
    float: left;
    font-weight: bold;
    font-size: 12px;
}

.table-div-hide {
    display: none;
}

.Note-Header {
    color: #00897b;
    font-weight: bold;
}

    table.custome-table {
        table-layout: auto;
        width: 100%;
        border-collapse: collapse;
        overflow: auto;
    }

        table.custome-table th {
            padding: 5px;
            text-align: left;
        }

        table.custome-table td {
            padding: 5px;
        }

    .new-lvnewreq-span3:nth-child(even) {
        background-color: #3aafa933;
        border-bottom-color: #3aafa933;
    }

    .new-lvnewreq-span3:nth-child(odd) {
        border-bottom-color: #3aafa9;
    }

    .new-lvnewreq-span3:hover {
        background-color: #20b69c33;
    }

    table.custome-table > thead {
        vertical-align: top;
        background: #3AAFA9;
        border: #3AAFA9 0.1px solid;
        color: white;
    }

    .custome-table-selected-tr {
        color: #C64521;
        font-weight: bold;
    }

    .log-div-class span {
        width: 100%;
        display: inline-block;
        padding: 4px 3px;
    }

    .log-div-class {
        float: left;
        display: block;
    }
      canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

.fiter-data-table {
    width: 100%;
}
    .fiter-data-table caption{
        text-align:left;
        font-size:15px;
        font-weight:600;
    }
.td-data {
    border: 1px solid lightseagreen;
    border-radius: 5px;
/*    margin-left: 10px;*/
    text-align: center;
    padding: 5px;
/*    width: 70%;*/
}
.td-label{
    text-align:left;
    width:30%;
}
/*#Old-Data-Table .td-data {
    background-color:lightgrey;
}
#New-Data-Table .td-data {
    background-color: lightblue;
}*/
#Auth-Table-Data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#ApproveRejectCommentForm{
    display:flex;
    align-items:center;
}