@{
    Layout = null;
}
<script>
    $(function () {
        $('.popup_radio_button').controlgroup();
    });

</script>
<style>
    .row2 {
        width: 450px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 120px;
    }

    .icon-row {
        position: relative;
        left: -49px;
        top: -128px;
        margin-left: 125px;
    }
</style>
<script>
    $(document).ready(function (e) {
        $('#Lookup-ModelObjectListE').button().on('click', function (event) {
            var value = $("#Modellist option:selected").text();
            var Val = $('#Model-table').P2BGetTableDataonSelectedRow('#Model-table', 1);
            $('.dialog').P2BLookUpModal('@Url.Action("GetModelData")?Val=' + Val + '&Modellist=' + value, '', 'LookupDiv', 'Look Up Data', '#ModelObjectListE', 'ModelObjectListE', 5, 'ModelObjectListE', '#FormCompetencyModel', 'A', '#Remove-Category-DivisionTargetSetting', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('#Remove-ModelObjectListE').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#ModelObjectList').P2BGetTableDataonSelectedRow('#ModelObjectList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ModelObjectListE').P2BGetTableDataonSelectedRow('#ModelObjectListE', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ModelObjectListE', $('#ModelObjectListE').val(), 200, 200, '#Edit-CompetencyModel', '#ModelObjectListE');
            event.preventDefault();
        });
    });
    
</script>
<form id="Edit-CompetencyModel" method="post" name="Edit-CompetencyModel">
    <div class="row2 content_margine ">
        <label class="popup-content-label must">Model Subtype Object List:</label>
        <div class="popup-content-table">
            <table class="lookuptableselected" id="ModelObjectListE">
                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
            </table>
        </div>
        <div class="icon-row">
            <button data-p2btooltip="Lookup ModelList" class="popup-content-icon-lookup " id="Lookup-ModelObjectListE"><span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span></button>
            <button data-p2btooltip="Remove ModelList" class="popup-content-icon-remove " id="Remove-ModelObjectListE"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
        </div>
        
    </div>

</form>

