@{
    Layout = null;
}
<style>
    .popup-content-label {
        display: block;
        float: left;
        width: 150px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 200px;
    }

    #TransHistory {
        /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
        border-collapse: collapse;
        width: 100%;
    }

    #TransHistory td, #TransHistory th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #TransHistory-selected {
        color: #8e6d87;
        font-weight: bold;
    }
    /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

    #TransHistory tr:hover {
        background-color: #ddd;
    }

    #TransHistory th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #009282;
        color: white;
    }
</style>
<script>
    
</script>

<form id="FormTransHistSuc" name="FormTransHistSuc">
    <div>
        <label class="heading">Evaluation Criteria</label>
        <table id="TransHistory">
            <tr><th>Sr.No</th><th>Transfer Date</th><th>GeoStruct</th><th>PayStruct</th><th>FuncStruct</th></tr>
        </table>
    </div>
</form>

