  .popup-content-label{
            width:100px;
            float:left;
            display:block;
            margin:1px;
        }
        .popup-content-textbox{
            min-width:150px;
        }
        .row1{
            width:403px;
        }