@model Payroll.AmountDependRule
@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        $('#SalAmount').ForceAmount();
    });

</script>
<div>
    <div class="amt_row1 content_margine">@Html.LabelFor(m => m.SalAmount, new { @class = "amt_popup-content-label" })@Html.TextBoxFor(m => m.SalAmount, new { @class = "amt_popup-content-textbox",@maxlength="10" })</div>
</div>
<style>
    .amt_popup-content-label {
        display: block;
        float: left;
        width: 84px;
    }

    .amt_popup-content-textbox {
        width: 150px;
    }
</style>