@{
    Layout = null;
}
<form id="EditGridForm" name="EditGridForm" method="post">

    <label>Salary Head :</label>
    <input type="text" id="Edit-Salheadp" name="SalHeadaa" />
    <label>Amount :</label>
    <input type="text" id="Edit-MonthlyAmount" name="SalHeadAmountaa" />

</form>

<script>
    $(document).ready(function () {

        $("#Edit-Salheadp").prop("readonly", true);

    });

</script>
