@{
    Layout = null;
}
<form id="frm-BonusChkT-partial" name="frm-BonusChkT-partial" method="post">
    <label>ProcessDate :</label>
    <input type="text" id="BonusChkT-ProcessDate" name="BonusChkT-ProcessDate" />
    <label>TotalWorkingDays :</label>
    <input type="text" id="BonusChkT-TotalWorkingDays" name="BonusChkT-TotalWorkingDays" />
    <label>TotalBonus :</label>
    <input type="text" id="BonusChkT-TotalBonus" name="BonusChkT-TotalBonus" />
    <label>TotalExGracia :</label>
    <input type="text" id="BonusChkT-TotalExGracia" name="BonusChkT-TotalExGracia" />
    <label>TotalAmount :</label>
    <input type="text" id="BonusChkT-TotalAmount" name="BonusChkT-TotalAmount" />
     
</form>



