@{
    Layout = null;
}
<script>
    $(function () {

        $('.date-picker').MonthYearPicker();

    });
</script>

<form id="frmLoanHeadSelection">
    <label>From Month :</label><input type="text" class="date-picker" name="paymonth" />
    <label>Select Exclude Loan Heads :</label>
    <select id="LoanHead-Selectmenu" style="width:200px;height:300px" multiple name="LoanHead-Selectmenu"></select>
</form>