@model P2b.Global.Login
@{
    Layout = null;
}

<style>
    .add_icon-row {
        position: relative;
        left: -53px;
        top: -46px;
    }

    .add_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 107px;
    }

    .add_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 300px;
    }

    .add_row {
        width: 448px;
    }
</style>
<div id="idivhide">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCheckPassword" }))
    {
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Password, "Password : ", new { @class = "add_popup-content-label" })
            <div>@Html.TextBoxFor(m => m.Password, new { id = "txt_password", type = "password" })</div>
        </div>
        <button class="button" id="iSubmit" style="margin-top: 256px;">Save</button>
    }
</div>

<script>
    $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
    $(document).ready(function () {
        $('button').button();
        $('#iSubmit').button().on('click', function () {
            var aa = $('#txt_password').val();
            if (aa =="P2b@1234") {              
                $('#QLabellist').P2BSelectMenuAppend('@Url.Action("GetQueryLabelData", "Analyzer")?Type=' + $("#QTypelist option:selected").text(), '', "");
                
            }
            else {
                alert('Please enter proper password.');
            }
            
        });
    });
</script>


