@{
    Layout = null;
}
<form id="EditGridForm" name="EditGridForm" method="post">

    <label>Proposed Place :</label>
    <input type="text" id="Edit-ProposedPlace" name="ProposedPlace" />
    <br />
    <br />
    <label>Diary Eligible Amount :</label>
    <input type="text" id="Edit-DIARYEligibleAmount" name="DIARYEligibleAmount" />
    <br />
    <br />
    <label>Diary Advance Amount :</label>
    <input type="text" id="Edit-DIARYAdvanceAmount" name="DIARYAdvanceAmount" />
    <br />
    <br />
    <label>Remark :</label>
    <input type="text" id="Edit-Remark" name="Remark" />
    <br />
    <br />

</form>

<script>
    $(document).ready(function () {

        $('#DIARYAdvanceAmount,#DIARYEligibleAmount').ForceAmount();
        $("#Edit-DIARYEligibleAmount").prop("readonly", true);

        $("#Edit-LTCAdvanceAmt").on('focusout', function () {
            alert('r');
            var a = $("#Edit-DIARYEligibleAmount").val();
            var b = $("#Edit-LTCAdvanceAmt").val();

            if (parseInt(b) > parseInt(a)) {
                $("#Edit-LTCAdvanceAmt").val("");
                alert("Advance amount should not be greater than Eligible amount");
            }

        });



    });

</script>


