@{
    Layout = null;
}
<form id="EditGridForm" name="EditGridForm" method="post">

    <label>Block From :</label>
    <input type="text" id="Edit-BlockFrom" name="BlockFrom" />
    <br />
    <br />
    <label>Block End :</label>
    <input type="text" id="Edit-BlockEnd" name="BlockEnd" />
    <br />
    <br />
    <label>Occurances :</label>
    <input type="text" id="Edit-Occurances" name="Occurances" />
    <br />
    <br />
     
</form>

<script>
    $(document).ready(function () {

    
        $('#Edit-BlockFrom,#Edit-BlockEnd').P2BDatePicker();

    });

</script>
