@model  EMS.ExitProcess_CheckList_Object
@{
    Layout = null;
}



<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 61px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 168px;
        }

        .popup-content-labelT {
            display: block;
            float: left;
            width: 170px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 120px;
        }

        .row3 {
            width: 627px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }
    </style>
</head>




<body>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmExitProcessCheckListObject", name = "frmExitProcessCheckListObject" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />

            <div class="tds_row1 content_margine">
                @Html.LabelFor(m => m.CheckListItem, "CheckListItem  :", new { @class = "popup-content-label must" })
                <select class="drop" id="checklist_id" name="checklist_id" style="width:120px;">
                    <option value="0">-Select-</option>
                </select>
            </div>


            <div class="row3 content_margine">
                @Html.LabelFor(m => m.CheckListItemDesc, "CheckListItemDesc  :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.CheckListItemDesc, new { @class = "popup-content-textbox must" })
            </div>

        }
    </div>

</body>
