@{
    Layout = null;
}
<form id="frm-GratuityT-partial" name="frm-GratuityT-partial" method="post">
    <label>ActualService :</label>
    <input type="text" id="GratuityT-ActualService" name="GratuityT-ActualService" />
    <label>Amount :</label>
    <input type="text" id="GratuityT-Amount" name="GratuityT-Amount" />
    <label>TotalLWP :</label>
    <input type="text" id="GratuityT-TotalLWP" name="GratuityT-TotalLWP" />
</form>


