@{
    Layout = null;
}
<form id="frm-InsuranceDetailsT-partial" name="frm-InsuranceDetailsT-partial" method="post">
    <div class="row content_margine">
        <label class="popup-content-label">PolicyNo :</label>
        <input type="text" id="InsuranceDetailsT-PolicyNo" name="PolicyNo" />
    </div>
    <div class="row content_margine">
        <label class="popup-content-label">SumAssured :</label>
        <input type="text" id="InsuranceDetailsT-SumAssured" name="SumAssured" />
    </div>
    <div class="row content_margine">
        <label class="popup-content-label">Premium :</label>
        <input type="text" id="InsuranceDetailsT-Premium" name="Premium" />
    </div>
    <div class="row content_margine">
        <label class="popup-content-label">Frequency :</label>
        <input type="text" id="InsuranceDetailsT-Frequency" name="Frequency" readonly />
    </div>

    <div class="row content_margine">
        <label class="popup-content-label">Operation Status :</label>
        <select id="InsuranceDetailsT-OpStatus" class="drop" name="OpStatus"></select>
    </div>
    <div class="row content_margine">
        <label class="popup-content-label">Closer date :</label>
        <input type="text" id="Closer-Date" name="CloserDate" readonly />
    </div>

</form>
<script>
    $(function () {
        $('#InsuranceDetailsT-OpStatus').selectmenu().selectmenu('menuWidget');
        $('#Closer-Date').P2BDatePicker();
    });
</script>