@{
    Layout = null;
}
<form id="frm-ITReliefPayment-partial" name="frm-ITReliefPayment-partial" method="post">
    <label>InvestmentDate :</label>
    <input type="text" id="ITReliefPayment-InvestmentDate" name="ITReliefPayment-InvestmentDate" />

    <label>PaymentName :</label>
    <input type="text" id="ITReliefPayment-PaymentName" name="ITReliefPayment-PaymentName" />
    <br />
    <br />
    <label>ReliefAmount :</label>
    <input type="text" id="ITReliefPayment-ReliefAmount" name="ITReliefPayment-ReliefAmount" />
   
    <label>Narration :</label>
    <input type="text" id="ITReliefPayment-Narration" name="ITReliefPayment-Narration" />
</form>

<script>
    $('#ITReliefPayment-InvestmentDate').attr('readonly', 'readonly');
    $('#ITReliefPayment-PaymentName').attr('readonly', 'readonly');
    $('#ITReliefPayment-PaymentName').ValidateTextBox({ maxlength: 30, alphanum: true });
    $('#ITReliefPayment-ReliefAmount').ForceOnlyNumeric();
    $('#ITReliefPayment-ReliefAmount').MaxLength(8);
    $('#ITReliefPayment-Narration').ValidateTextBox({ maxlength: 30, name: true });
</script>



