@{
    Layout = null;
}
<form id="frm-ITSection10-partial" name="frm-ITSection10-partial" method="post">
    <label>InvestmentDate :</label>
    <input type="text" id="ITSection10-InvestmentDate" name="ITSection10-InvestmentDate" />
    <label>ActualInvestment :</label>
    <input type="text" id="ITSection10-ActualInvestment" name="ITSection10-ActualInvestment" />
    <br />
    <br />
    <label>DeclaredInvestment :</label>
    <input type="text" id="ITSection10-DeclaredInvestment" name="ITSection10-DeclaredInvestment" />
    <label>Narration :</label>
    <input type="text" id="ITSection10-Narration" name="ITSection10-Narration" />
</form>

<script>
    $('#ITSection10-ActualInvestment').ForceOnlyNumeric();
    $('#ITSection10-ActualInvestment').MaxLength(8);
    $('#ITSection10-DeclaredInvestment').ForceOnlyNumeric();
    $('#ITSection10-DeclaredInvestment').MaxLength(8);
    $('#ITSection10-Narration').ValidateTextBox({ maxlength: 30, name:true });
</script>

