@{
    Layout = null;
}
<form id="frm-ITSection24-partial" name="frm-ITSection24-partial" method="post">
    <label>Payment Name :</label>
    <input type="text" id="ITSection24-PaymentName" name="ITSection24-PaymentName" />
    <label>Investment Date :</label>
    <input type="text" id="ITSection24-InvestmentDate" name="ITSection24-InvestmentDate" />
    <br />
    <br />
    <label>Actual Interest :</label>
    <input type="text" id="ITSection24-ActualInterest" name="ITSection24-ActualInterest" />
    <label>Declared Interest :</label>
    <input type="text" id="ITSection24-DeclaredInterest" name="ITSection24-DeclaredInterest" />
    <br />
    <br />
    <label>Narration :</label>
    <input type="text" id="ITSection24-Narration" name="ITSection24-Narration" />
</form>

<script>
    $('#ITSection24-ActualInterest').ForceOnlyNumeric();
    $('#ITSection24-ActualInterest').MaxLength(8);
    $('#ITSection24-DeclaredInterest').ForceOnlyNumeric();
    $('#ITSection24-DeclaredInterest').MaxLength(8);
    $('#ITSection24-Narration').ValidateTextBox({ maxlength: 30, name: true });
</script>


