@{
    Layout = null;
}


@model EMS.ExitInterviewRequest
<link href="~/Content/contact_no/contact_no.css" rel="stylesheet" />



<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu('menuWidget').addClass("overflow");
        $("#Leavingreason").MaxLength(10);
        $("#Leavingreason").MaxLength(35);
       
    });
</script>


<body>
    <div id="Create_Dialog" title="Create Leaving Reason  Details ">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLeavingreason" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.LeavingReason, "Leaving Reason:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LeavingReason, new { @class = "popup-content-textbox ", @id = "WFStatus", @style = "width=99px" })</div>

        }
    </div>
</body>

