@{
    Layout = null;
}
<script>
    $(function () {
        $('.popup_radio_button').controlgroup();
        $('#CloserDate-edit').P2BDatePicker();

        $('input[name="IsActive"]:radio').change(function () {
            if (this.value == "false") { $('#CloserDate-edit').prop("disabled", false); $('#CloserDate-edit').val(""); }
            else { $('#CloserDate-edit').prop("disabled", true); }
        });
        $('input[name="IsActive"]').val([true]);
        $('#Edit-LoanAccBranch').selectmenu().selectmenu('menuWidget');
    });
    
</script>
<style>
    .row2{
        width:400px;
    }
</style>
<form id="Edit-loanadvrequest" method="post" name="Edit-loanadvrequest">
    <div class="row2 content_margine">
        <label class="popup-content-label">TotalInstallment :</label>
        <input id="TotalInstallment-edit" name="TotalInstallment" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">LoanAccNo :</label>
        <input id="LoanAccNo-edit" name="LoanAccNo" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">LoanAccBranch :</label>
        <select class="drop" id="Edit-LoanAccBranch" name="LoanAccBranch" style="width:200px"><option></option></select>
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">IsActive :</label>
        <div class="popup_radio_button">
            <div id="radioset">
                <span><input type="radio" id="radio11" name="IsActive" value="true"/> <label for="radio11">Yes</label></span>
                <span><input type="radio" id="radio22" name="IsActive" value="false" /> <label for="radio22">No</label></span>
            </div>
        </div>
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">CloserDate :</label>
        <input id="CloserDate-edit" disabled name="CloserDate" />
        </div>
</form>
