@{
    Layout = null;
}
<form id="EditGridForm" name="EditGridForm" method="post">

    <label>Monthly Interest :</label>
    <input type="text" id="Edit-MonthlyInterest" name="MonthlyInterest"/>
    <label>Monthly Principal Amount :</label>
    <input type="text" id="Edit-MonthlyPricipalAmount" name="MonthlyPricipalAmount"/>
    <br />
    <br />
    <input type="button" id="checkvalue" name="checkvalue" value="Total Monthy Installment">
    <br />
    <br />
    <label>Installment Paid :</label>
    <input type="text" id="Edit-InstallmentPaid" name="InstallmentPaid" />
    <label>Installment Amount :</label>
    <input type="text" id="Edit-InstallmentAmount" name="InstallmentAmount" />
    <br />
    <br />
    <label>Total Loan Balance :</label>
    <input type="text" id="Edit-TotalLoanBalance" name="TotalLoanBalance" />
</form>

<script>
    $(document).ready(function () {


        $("#Edit-InstallmentPaid").prop("readonly", true);
        $("#Edit-InstallmentAmount").prop("readonly", true);
        $("#Edit-TotalLoanBalance").prop("readonly", true);

        $('#checkvalue').on('click', function (e) {

            var monthprincamt = Number($('#Edit-MonthlyPricipalAmount').val());
            var monthintramt = Number($('#Edit-MonthlyInterest').val());

            var installmenttotal = monthintramt + monthprincamt;

            $('#Edit-InstallmentPaid').val(installmenttotal);
            $('#Edit-InstallmentAmount').val(installmenttotal);

        });

    });

</script>
