
@{
    Layout = null;
}
<form id="EditGridForm" name="EditGridForm" method="post">

    <label>Proposed Place :</label>
    <input type="text" id="Edit-ProposedPlace" name="ProposedPlace" />
    <br />
    <br />
    <label>LTC Eligible Amount :</label>
    <input type="text" id="Edit-LTCEligibleAmount" name="LTCEligibleAmount" />
    <br />
    <br /> 
    <label>LTC Advance Amount :</label>
    <input type="text" id="Edit-LTCAdvanceAmount" name="LTCAdvanceAmount" />
    <br />
    <br /> 
    <label>Remark :</label>
    <input type="text" id="Edit-Remark" name="Remark" />
    <br />
    <br />
    
</form>

<script>
    $(document).ready(function () {

        $('#LTCAdvanceAmount,#LTCEligibleAmount').ForceAmount();
        $("#Edit-LTCEligibleAmount").prop("readonly", true);
        
        $("#Edit-LTCAdvanceAmt").on('focusout', function () {
            alert('r');
            var a = $("#Edit-LTCEligibleAmount").val();
            var b = $("#Edit-LTCAdvanceAmt").val();

            if (parseInt(b) > parseInt(a)) {
                $("#Edit-LTCAdvanceAmt").val("");
                alert("Advance amount should not be greater than Eligible amount");
            }

        });

        

    });

</script>
