@{
    Layout = null;
}
<form id="frm-LvEncashPayment-partial" name="frm-LvEncashPayment-partial" method="post">
    <label>AmountPaid :</label>
    <input type="text" id="LvEncashPayment-AmountPaid" name="LvEncashPayment-AmountPaid" />
    <label>OtherDeduction :</label>
    <input type="text" id="LvEncashPayment-OtherDeduction" name="LvEncashPayment-OtherDeduction" />
    <label>TDSAmount :</label>
    <input type="text" id="LvEncashPayment-TDSAmount" name="LvEncashPayment-TDSAmount" />
</form>

