@{
    Layout = null;
}
<head>
    <title>Edit Details</title>
    <script>
        $('#Create').on("click", function (event) {


        });
        $('#Edit-SalAmount').ForceOnlyNumeric();
        $('#Edit-TDSAmount').ForceOnlyNumeric();
    </script>
    </head>
<form id="OtherEarningTGridPartial" name="OtherEarningTGridPartial" method="post">
    <div class="row2 content_margine" >
        <label class="popup-content-label must">SalAmount :</label>
        <input type="text" class="must" id="Edit-SalAmount" name="SalAmount" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label must">Remark :</label>
        <input type="text" id="Edit-Remark" class="must" name="Remark" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label must">TDSAmount :</label>
        <input type="text" id="Edit-TDSAmount" class="must" name="TDSAmount" />
        </div>
        @*<label>MonthlyPricipalAmount :</label>
            <input type="text" id="Edit-MonthlyPricipalAmount" name="MonthlyPricipalAmount" />*@
</form>
<style>

</style>
