@{
    Layout = null;
}

<style>
    .row2 {
        width: 400px;
    }
</style>
<form id="Edit-PerkTransT" method="post" name="Edit-PerkTransT">

    @*<div class="row2 content_margine">
            <label class="popup-content-label">SalaryHead :</label>
            <select class="drop" id="Edit-LoanAccBranch" name="SalaryHead" style="width:200px"><option></option></select>
        </div>*@
  
    <div class="row2 content_margine">
        <label class="popup-content-label">Actual Amount :</label>
        <input type="text" id="TotalInstallment-edit" name="ActualAmount" />
        
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">Projected Amount :</label>
        <input type="text"  id="LoanAccNo-edit" name="ProjectedAmount" />
    </div>
</form>

<script>


    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
        $('#TotalInstallment-edit').ForceOnlyNumeric();
        $('#TotalInstallment-edit').MaxLength(10);
        $('#LoanAccNo-edit').ForceOnlyNumeric();
        $('#LoanAccNo-edit').MaxLength(10);
        //   $('#TotalInstallment-edit,#LoanAccNo-edit').ForceAmount();
        //   $('#TotalInstallment-edit,#LoanAccNo-edit').ValidateTextBox({ maxlength: 10 });
    });
</script>