@{
    Layout = null;
}
@model Payroll.PercentDependRule
<script>
    $(document).ready(function () {
        $('#SalPercent').ForcePercent().MaxLength(10);
    });

</script>
<div>
    <div class="per_row content_margine">@Html.LabelFor(m => m.SalPercent, "Percent", new { @class = "per_popup-content-label" })@Html.TextBoxFor(m => m.SalPercent, new { @class = "per_popup-content-textbox", @maxlength = "15" })</div>
</div>
<style>
    .per_popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .per_popup-content-textbox {
        width: 150px;
    }
</style>