@{
    Layout = null;
}
@model Payroll.RegimiScheme
<head>
    <title></title>
    @*<link href="~/Content/Hollyday%20Calender/hollyday_calender.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function (e) {


            function DateConvert(JsonDate) {
                var date = new Date(parseInt(JsonDate.substr(6)));
                var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                return displayDate;
            };

          
            $('.drop1').selectmenu().selectmenu('menuWidget').addClass('overflow');
            $('.drop2').selectmenu().selectmenu('menuWidget').addClass('overflow');
           @*$('#FinancialYeardrop1').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "HolidayCalendar")', "", k.HolidayList_Id);*@

        });
    </script>
</head>
<body>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRegimiScheme", name = "frmRegimiScheme" }))
    {
        <div class="dropdown_row1 row3 content_margine" style="width:500px">
            @Html.LabelFor(m => m.FinancialYear, "Calendar :", new { @class = "popup-content-label" })
            <select id="FinancialYeardrop1" style="width:200px" name="FinancialYeardrop1" class="drop1"></select>
        </div>
        <div class="dropdown_row1 row3 content_margine" style="width:500px">
            @Html.LabelFor(m => m.Scheme, "Scheme :", new { @class = "popup-content-label" })
            <select id="Schemedrop2" style="width:200px" name="Schemedrop2" class="drop2"></select>
        </div>
        
       
    }

</body>
