@model  Payroll.SalaryHoldDetails
@{
    Layout = null;
}
<script>
    $(function () {
        $('#FromDate-edit,#ToDate-edit').P2BDatePicker();
        $('button').button();
        $('.popup_radio_button').controlgroup();

       
       
    });

</script>
<style>
    .row2 {
        width: 400px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "SalaryHoldDetailsGridPartial", Name = "SalaryHoldDetailsGridPartial" }))
    {
        <div class="heading">Salary Hold Details Edit</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.FromDate, "FromDate :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.FromDate, new { @class = "popup-content-textbox", @id = "FromDate-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.ToDate, "ToDate :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.ToDate, new { @class = "popup-content-textbox", @id = "ToDate-edit" })</div>
       
    }
</div>

