@{
    Layout = null;
}
<form id="frm-ITInvestmentPayment-partial" name="frm-ITInvestmentPayment-partial" method="post">
    <label>IT Investment Name :</label>
    <input type="text" id="ITInvestmentPayment-ITInvestmentName" name="ITInvestmentPayment-ITInvestmentName" />
    <label>InvestmentDate :</label>
    <input type="text" id="ITInvestmentPayment-InvestmentDate" name="ITInvestmentPayment-InvestmentDate" />
    <br />
    <br />
    <label>Declared Investment :</label>
    <input type="text" id="ITInvestmentPayment-DeclaredInvestment" name="ITInvestmentPayment-DeclaredInvestment" />
    <label>Actual Investment :</label>
    <input type="text" id="ITInvestmentPayment-ActualInvestment" name="ITInvestmentPayment-ActualInvestment"/>
</form>

<script>
    $('#ITInvestmentPayment-DeclaredInvestment').ForceOnlyNumeric();
    $('#ITInvestmentPayment-DeclaredInvestment').MaxLength(8);
    $('#ITInvestmentPayment-ActualInvestment').ForceOnlyNumeric();
    $('#ITInvestmentPayment-ActualInvestment').MaxLength(8);
   // $('#ITSection24-Narration').ValidateTextBox({ maxlength: 30, name: true });
</script>
