
@{
    Layout = null;
}
<form id="EditGridForm" name="EditGridForm" method="post">

    <label>Advance Amount :</label>
    <input type="text" id="Edit-AdvanceAmount" name="AdvanceAmount" />
    <br />
    <br />
    <label>Sanctioned Amount :</label>
    <input type="text" id="Edit-SanctionedAmt" name="SanctionedAmt" />
    <br />
    <br />

    <label> Eligible Amount :</label>
    <input type="text" id="Edit-EligibleAmt " name="EligibleAmt " />
    <br />
    <br />

    <label>Date Of Appl  :</label>
    <input type="text" id="Edit-DateOfAppl " name="DateOfAppl " />
    <br />
    <br />

    @*<div class="row3 content_margine">@Html.LabelFor(m => m, "TravelStartDate:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TravelStartDate, new { @class = "popup-content-textbox must", @maxlength = "10" })</div>

    <div class="row3 content_margine">@Html.LabelFor(m => m.TravelEndDate, "Travel End Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TravelEndDate, new { @class = "popup-content-textbox must", @maxlength = "10" })</div>*@


        <label> Travel Days :</label>
        <input type="text" id="Edit-TravelDays  " name="TravelDays   " />
        <br />
        <br />

        <div class="popup-row">
            <div class="popup_radio_button">
                <input type="radio" id="IsClaimSettle" name="radio" value="1" /><label for="IsClaimSettle1">IsClaimSettle</label>
            </div>
        </div>


        <label>Proposed Place :</label>
        <input type="text" id="Edit-ProposedPlace" name="ProposedPlace" />
        <br />
        <br />

        @*<div class="row2 select_div content_margine">@Html.LabelFor(m => m.TADAType, "TADA Type:", new { @class = "popup-content-label must" })<select id="TADATypelist" name="TADATypelist" class="drop must" style="width:159px;"><option value="0">-Select-</option></select></div>

        <br />*@

        <label>Remark :</label>
        <input type="text" id="Edit-Remark" name="Remark" />
        <br />
        <br />

</form>

<script>
    $(document).ready(function () {

        $('#LTCAdvanceAmount,#LTCEligibleAmount').ForceAmount();
        $("#Edit-LTCEligibleAmount").prop("readonly", true);

        $("#Edit-LTCAdvanceAmt").on('focusout', function () {
            alert('r');
            var a = $("#Edit-LTCEligibleAmount").val();
            var b = $("#Edit-LTCAdvanceAmt").val();

            if (parseInt(b) > parseInt(a)) {
                $("#Edit-LTCAdvanceAmt").val("");
                alert("Advance amount should not be greater than Eligible amount");
            }

        });



    });

</script>
