
@{
    Layout = null;
}
<form id="EditGridForm" name="EditGridForm" method="post">

    <label>Proposed Place :</label>
    <input type="text" id="Edit-ProposedPlace" name="ProposedPlace" />
    <br />
    <br />
    <label>TADA Eligible Amount :</label>
    <input type="text" id="Edit-TADAEligibleAmount" name="TADAEligibleAmount" />
    <br />
    <br /> 
    <label>TADA Advance Amount :</label>
    <input type="text" id="Edit-TADAAdvanceAmount" name="TADAAdvanceAmount" />
    <br />
    <br /> 
    <label>Remark :</label>
    <input type="text" id="Edit-Remark" name="Remark" />
    <br />
    <br />
    
</form>

<script>
    $(document).ready(function () {

        $('#TADAAdvanceAmount,#TADAEligibleAmount').ForceAmount();
        $("#Edit-TADAEligibleAmount").prop("readonly", true);
        
        $("#Edit-LTCAdvanceAmt").on('focusout', function () {
            alert('r');
            var a = $("#Edit-TADAEligibleAmount").val();
            var b = $("#Edit-LTCAdvanceAmt").val();

            if (parseInt(b) > parseInt(a)) {
                $("#Edit-LTCAdvanceAmt").val("");
                alert("Advance amount should not be greater than Eligible amount");
            }

        });

        

    });

</script>
