@{
    Layout = null;
}
<script>
    $(function () {
        $('.popup_radio_button').controlgroup();
    });

</script>
<style>
    .row2 {
        width: 450px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 120px;
    }
</style>
<form id="Edit-YearlyPaymentT" method="post" name="Edit-YearlyPaymentT">
    <div class="row2 content_margine">
        <label class="popup-content-label">TDS Amount :</label>
        <input id="TDSAmount-edit" name="TDSAmount" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">Amount Paid :</label>
        <input id="AmountPaid-edit" name="AmountPaid" />
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">Other Deduction :</label>
        <input id="OtherDeduction-edit" name="OtherDeduction" />
    </div>

</form>
