@{
    Layout = null;
}
<div class="filter_class">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "advancefilter", name = "advancefilter" }))
    {
        <div class="filter_form">
            <div>
                <div class="filterDiv">
                    <fieldset class="filter-fieldset">
                        <legend id="GeoStructFilter">
                            <a data-p2bheadertooltip="Collapse">
                                <i class="fa fa-angle-double-right fa-fw " style="cursor:pointer" aria-hidden="true"></i>&nbsp;GeoStructFilter&nbsp;
                            </a>
                            @*<input type="checkbox" id="applyfilter-geo"/>*@
                        </legend>
                        <div id="filter-geo-div"></div>
                    </fieldset>
                    <fieldset class="filter-fieldset">
                        <legend id="PayStructFilter">
                            <a data-p2bheadertooltip="Collapse">
                                <i class="fa fa-angle-double-right fa-fw " style="cursor:pointer" aria-hidden="true"></i>&nbsp;PayStructFilter&nbsp;
                            </a>
                            @*<input type="checkbox" id="applyfilter-pay"/>*@
                        </legend>
                        <div id="filter-pay-div"></div>
                    </fieldset>
                    <fieldset class="filter-fieldset">
                        <legend id="FunStructFilter">
                            <a data-p2bheadertooltip="Collapse">
                                <i class="fa fa-angle-double-right fa-fw " style="cursor:pointer" aria-hidden="true"></i>&nbsp;FunStructFilter&nbsp;
                            </a>
                            @*<input type="checkbox" id="applyfilter-fun"/>*@
                        </legend>
                        <div id="filter-fun-div"></div>
                    </fieldset>
                    
                </div>
              
                <input type="text" id="filter-geo-struct-id" name="filter-geo-struct-id" class="filter_structure_id" />
                <input type="text" id="filter-pay-struct-id" name="filter-pay-struct-id" class="filter_structure_id" />
                <input type="text" id="filter-fun-struct-id" name="filter-fun-struct-id" class="filter_structure_id" />
               
            </div>
            <br />
            <div class="filter">
                <input type="checkbox" id="Get_AllEmployee" />
                <span id="Get_AllEmployee">Select all Employees</span>
            </div>
            <div class="btn-pane">
                <button id="applyfilter">Apply</button>
                <button id="resetfilter">Reset</button>
            </div>
        </div>
        
        
        
    }
</div>
<script>
    $(function () {
        ////;
        $('button').button();
        $.AdvanceFilterFunction({
            appenddiv: '#filter-geo-div',
            url: '@Url.Action("Geo_partial", "transcation")',
            applyfiltercheckbox: '#applyfilter-geo',
            minimizeid: '#GeoStructFilter',
            form: "#advancefilter"
        });
        $.AdvanceFilterFunction({
            appenddiv: '#filter-pay-div',
            url: '@Url.Action("pay_partial","transcation")',
            applyfiltercheckbox: '#applyfilter-pay',
            minimizeid: '#PayStructFilter',
            form: "#advancefilter",
        });
        $.AdvanceFilterFunction({
            appenddiv: '#filter-fun-div',
            url: '@Url.Action("fun_partial","transcation")',
            applyfiltercheckbox: '#applyfilter-fun',
            minimizeid: '#FunStructFilter',
            form: "#advancefilter"
        });

    });

</script>
<style>
    .filter_class {
        height: auto;
        padding-bottom: 40px;
        /*! border: 0.1px solid #d2cfcf; */
        width: 99%;
        margin: 1px auto;
    }

    .btn-pane {
        float: right;
        padding: 10px 0;
    }

    .filter_form {
        margin: 1px;
    }
</style>