@{
    Layout = null;
}
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "geo", name = "geo" }))
    {
        <div class="all-table">
            <input id="SearchId" type="hidden" name="SearchId" />
            <div class="emp_filter" style="display:none">
                <div class="transactiondiv">
                    <div><label>Search : </label><input type="text" id="division-search"/></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontable" id="division-table">
                        <tr><th><input type="checkbox" id="case-division" /></th><th>Division</th></tr>
                    </table>
                    <span class="btn-span" aria-hidden="true">
                        <button id="load-next" class="loan-btn" data-tabletype="division">LoadNext</button>
                    </span>
                </div>
            </div>
            <div class="emp_filter" style="display:none">
                <div class="transactiondiv">
                    <div><label>Search : </label><input type="text" id="location-search" /></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontable" id="location-table">
                        <tr><th><input type="checkbox" id="case-location" /></th><th>Location</th></tr>
                    </table>
                    <span class="btn-span" aria-hidden="true">
                        <button id="load-next" class="loan-btn" data-tabletype="location">LoadNext</button>
                    </span>
                </div>
            </div>
            <div class="emp_filter" style="display:none">
                <div class="transactiondiv">
                    <div><label>Search : </label><input type="text" id="department-search" /></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontable" id="department-table">
                        <tr><th><input type="checkbox" id="case-department" /></th><th>Department</th></tr>
                    </table>
                    <span class="btn-span" aria-hidden="true">
                        <button id="load-next" class="loan-btn" data-tabletype="department">LoadNext</button>
                    </span>
                </div>
            </div>
            <div class="emp_filter" style="display:none">
                <div class="transactiondiv">
                    <div><label>Search : </label><input type="text" id="group-search"/></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontable" id="group-table">
                        <tr><th><input type="checkbox" id="case-group" /></th><th>Group</th></tr>
                    </table>
                    <span class="btn-span" aria-hidden="true">
                        <button id="load-next" class="loan-btn" data-tabletype="group">LoadNext</button>
                    </span>
                </div>
            </div>
            <div class="emp_filter" style="display:none">
                <div class="transactiondiv">
                    <div><label>Search : </label><input type="text" id="unit-search"/></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontable" id="unit-table">
                        <tr><th><input type="checkbox" id="case-unit" /></th><th>Unit</th></tr>
                    </table>
                    <span class="btn-span" aria-hidden="true">
                        <button id="load-next" class="loan-btn" data-tabletype="unit">LoadNext</button>
                    </span>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .transactiondiv {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        width: 192px;
        border-radius: 5px;
        /*height: 300px;*/
    }

    .all-table {
        display: inline-block;
        float: left;
    }

    .emp_filter {
        float: left;
        margin: 1px 1px;
    }
</style>
<script>
    $(document).ready(function () {

        $('#division-table').P2BTransactionTableDynamic('#division-search', '#case-division', '@Url.Action("Check_ExitanceFirstLevelGeo", "Transcation")', []);
        $('#location-table').P2BTransactionTableDynamic('#location-search', '#case-location', '', []);
        $('#department-table').P2BTransactionTableDynamic('#department-search', '#case-department', '', []);
        $('#group-table').P2BTransactionTableDynamic('#group-search', '#case-group', '', []);
        $('#unit-table').P2BTransactionTableDynamic('#unit-search', '#case-unit', '', []);

        var TranscationTableCheckboxCount = function (table) {
            return $(table).find('input:checkbox:gt(0):checked').length;
        };
 


        $('form#geo .btn-span button').on("click", function (e) {
            var a = $(this).data('tabletype'); 
            var newValT = $('#' + a + '-search').val();
            ////debugger;
            var b = TranscationTableCheckboxCount('#' + a + '-table');
            if (b > 1) {
                alert("select one record");
                return false;
            } else if (b == 0 && newValT == "") {
                alert("select Atleast one record");
                return false;
            }
            var forwardata = $('#' + a + '-table').P2BGetTableDataonSelectedRow('#' + a + '-table', 1);
          
            $('#' + a + '-table').P2BTransactionTableDynamic('#' + a + '-search', '#case-' + a + '', "@Url.Action("GenrationGeo", "Transcation")?typeoftable=" + a + "-table", forwardata, '#applyfilter-geo');
            e.preventDefault();
        });

        $('button').button();
        $('.drop').selectmenu().selectmenu('menuWidget');

    });
</script>
