@{
    Layout = null;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "FormImageViewer", name = "FormImageViewer" }))
{
    <div class="header-title"> 
        <a class="img_Investment_icon">
            <img alt="" src="" id="Dashboard-Investment-Viewer" style="background-repeat: no-repeat; height: 100%; width: 100%; " />
        </a>
        <embed src="" id="PDFLoad" type="application/pdf" height="700px" width="500">
    </div>
}
<style>
    .header-title {
        width: 100%;
        float: right;
        display: block;
    }
</style>
@*<script>
        $(function () {

            $.fn.doval = function () {
                //if ($('#employee').val() == 0) {
                //    return false;
                //}
                return true;

            };
            var imagesPreview = function (input, placeToInsertImagePreview) {
                ////debugger;
                if (input.files) {
                    var filesAmount = input.files.length;
                    $(placeToInsertImagePreview).empty();
                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();

                        reader.onload = function (event) {
                            $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                        }

                        reader.readAsDataURL(input.files[i]);
                    }
                }

            };

            $('#files').on('change', function () {
                imagesPreview(this, '#user_investment');
            });
            $('#type').selectmenu().selectmenu("menuWidget");

            //$('#type').P2BSelectMenuAppend('@@Url.Action("GetLookupValue", "lookup")', 1004, ""); // To bind dropdown on page load

        });
    </script>*@ 