@model P2b.Global.LoginDetails
@{
    Layout = null;
}
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmResetPassword1" }))
    {

        @*<div id="Grid_Form">
            <div>
                <table id="JqGrid"></table>
                <div id="pager2"></div>
            </div>
        </div>*@
    
<div>
    <table id="demotab"><tr><th><input type="checkbox" id="select-allchk"></th><th>Empcode</th><th>EmpName</th><th>Branch</th><th>Lock</th><th>Suspend</th><th>Id</th></tr></table>
</div>
        @*<div class="row2 content_margine">
                <label class="popup-content-label">Employee Name:</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="EmployeeNamelist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Employee  Details" class="popup-content-icon-lookup" id="Lookup-HOCalendar-Location"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                    <button data-p2btooltip="Remove Employee Name" class="popup-content-icon-remove" id="Remove-HOCalendar-Location"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>*@

        <div class="dialog">
            <div title="LookUp Data">
                <div class="LookupDiv" id="Lookup"></div>
            </div>
            <div id="PageNavPosition">

            </div>
        </div>

    }
</div>
<script>
    $(function () {
        $('button').button();
        $('.drop').selectmenu().selectmenu('menuWidget');
      
        @*var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['EmpCode', 'EmpName', 'Branch', 'Lock', 'Suspend', 'Id'];
        ColNames = ['EmpCode', 'EmpName', 'Branch', 'Lock', 'Suspend', 'Id'];
        SortName = 'Id';
        Caption = '';
        url = '@Url.Action("getEmpData", "ResetPassword")';
        height = "400",
        width = "500",
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height, '#pager2', { multiple: true, rowNum: 30, selectall: true });


        var myArr = [];
        $('#JqGrid').on('click', 'input:checkbox', function (e) {

            if (this.checked) {
                var currow = $(this).closest('tr');
                var empidschkd = currow.find("td:eq(6)").text().toString();

                myArr.push(empidschkd);
                console.log("MyArr :: " + myArr)
            } else {
                var currow = $(this).closest('tr');
                var empidsunchk = currow.find("td:eq(6)").text().toString();

                console.log("empidsunchk :: " + empidsunchk)
                myArr = myArr.filter(function (ele) {
                    return ele !== empidsunchk;
                });
                console.log("MyArr :: " + myArr)
            }

        });

        $('#savebttn').button().on('click', function (e) {
            alert('cliked');
        });*@

        //localStorage.clear();
        $.get("@Url.Action("getEmpData", "ResetPassword")", { pass: "" }, function (data) {
            console.log(data);
            var tab = '';
           
            $.each(data, function (i, k) {
                //console.log(i + "           " + JSON.stringify(k));
                var ckkk = "checkbox";
                var logreg = k.oLogRegister != null ? k.oLogRegister.oLock : "";
                //console.log(logreg);
                tab += '<tr><td><input type="' + ckkk + '"></td><td>' + k.EmpCode + '</td><td>' + k.EmpName + '</td><td>' + k.Branch + '</td><td>' + k.Lock + '</td><td>' + k.Suspend + '</td><td>' + k.Id + '</td></tr>';
            });
           
            $('#demotab tr').after(tab);
        });

        
            
       
        var myArr = [];
        $('#select-allchk').on('click', function () {
            if (this.checked) {
                
                $('input:checkbox').each(function () {
                    this.checked = true;
                    var currow = $(this).closest('tr');
                    var empidschkd = currow.find("td:eq(6)").text().toString();
                    
                    myArr.push(empidschkd);
                    
                });
                //console.log('myArrchkall ::: ' + myArr);

            } else {
                $('input:checkbox').each(function () {
                    this.checked = false;
                });
                myArr = [];
                //console.log('myArrchkall ::: ' + myArr);
            }
            
        });



        
            $('#demotab').on('click', 'input:checkbox', function (e) {

                if (this.checked) {
                    //alert('ok');
                    var currow = $(this).closest('tr');
                    var empidschkd = currow.find("td:eq(6)").text().toString();

                    myArr.push(empidschkd);
                    console.log("MyArr :: " + myArr)
                } else {
                    var currow = $(this).closest('tr');
                    var empidsunchk = currow.find("td:eq(6)").text().toString();

                    console.log("empidsunchk :: " + empidsunchk)
                    myArr = myArr.filter(function (ele) {
                        return ele !== empidsunchk;
                    });
                    console.log("MyArr :: " + myArr)
                }

               // var myArrStr = JSON.stringify(myArr);

                var myArrStr = myArr.toString();
                //console.log("myArrStr :: " + myArrStr);
                //localStorage.setItem("myArrr", myArrStr);
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("EmployeeChecked", "ResetPassword")",
                    data: JSON.stringify({ EmpCHKED : myArrStr }),
                    contentType: 'application/json',
                    datatype: 'json',
                    success: function(data){}
                });
               

            });
            

        



        $.fn.doval = function () {
            return valid = true;
        };




        @*$('#Lookup-HOCalendar-Location').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetEmp", "ResetPassword")', '', 'LookupDiv', 'Employee Name ', '#EmployeeNamelist', 'EmployeeNamelist', 5, 'EmployeeNamelist', '#frmResetPassword1', 'A', '#Remove-HOCalendar-Location', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Remove-HOCalendar-Location').button().on('click', function (event) {
            var a = [], b;
            a = $('#EmployeeNamelist').P2BGetTableDataonSelectedRow('#EmployeeNamelist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EmployeeNamelist', $('#EmployeeNamelist').val(), 200, 200, '#frmResetPassword1', '#EmployeeNamelist', '#Edit-HOCalendar-Location,#Remove-HOCalendar-Location');
            event.preventDefault();
        });*@




    });
</script>
<style>
    .child-div {
        display: inline-block;
    }

    .popup-content-label {
        float: left;
        width: 124px;
        display: block;
    }

    .icon-row {
        left: 93px;
        position: absolute;
        top: 8px;
    }

    #Lookup_FinancialYear_Calendar {
        left: 280px;
        top: 20px;
    }

    .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
        display: inline-block;
        left: 0;
        top: 4px;
    }

    .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
        height: 20px;
        margin: auto;
        /*position: absolute;*/
        width: 20px;
        left: 24px;
    }

    .popup-content-drop-icon-edit {
        left: 76px;
    }

    .popup-content-drop-icon-lookup {
        left: 0px;
        top: 6px;
    }

    .icon-row {
        position: relative;
        left: 61px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .popup-content-labelT {
        display: block;
        float: left;
        width: 120px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 627px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .date-picker {
        z-index: 999;
    }

    .employeeselectiondiv {
        float: left;
    }

    .addons {
        height: 246px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section_Method1 {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 150px;
    }

    .transactiontablenew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /*width: 200px;*/
        display: block;
        overflow: auto;
        height: 500px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        width: 507px;
        border-radius: 5px;
        height: 32px;
    }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 108px;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 100%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }

    #demotab {
        /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
        border-collapse: collapse;
        width: 100%;
    }

        #demotab td, #demotab th {
            border: 1px solid #ddd;
            padding: 8px;
        }

    #monthTable-selected {
        color: #8e6d87;
        font-weight: bold;
    }
    /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

    #demotab tr:hover {
        background-color: #ddd;
    }

    #demotab th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #009282;
        color: white;
    }
</style>