
@{
    ViewBag.Title = "Index";
}

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            @*<div class="Button_Container">
                <div style="float:left;margin-left:77px"><label>Select Module:</label></div>

                <div style="float:left;margin-left:25px">
                    <select class="drop must" style="width:180px;" name="Modulelist" id="Modulelist">
                        <option value="0">--Select--</option>
                    </select>
                </div>
            </div>

            <div class="Button_Container">
                <div style="float:left;margin-left:25px"><label>Select Document Type:</label></div>

                <div style="float:left;margin-left:25px">
                    <select class="drop must" style="width:180px;" name="DocTypelist" id="DocTypelist">
                        <option value="0">--Select--</option>
                    </select>
                </div>
            </div>*@
        </div>
    </div>
</body>

<script>

    $(document).ready(function (e) {
        $('button').button();

        @*$('#Modulelist,#DocTypelist').selectmenu().selectmenu("menuWidget");
        $('#Modulelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 601, "");*@
    });
</script>