@{
    Layout = null;
}


@model Leave.EmployeeLvStructDetails
<link href="~/Content/contact_no/contact_no.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu('menuWidget').addClass("overflow");
       

        //To get data in Lookup
        $('#Lookup-LvHead-EmployeeLvStructDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupLvhead", "EmployeeLvStructDetails")', '', 'LookupDiv', 'LeaveHead Look Up Data', '#LvHeadlist', 'LvHeadlist', 5, 'LvHeadlist', '#frmEmployeeLvStructDetails', 'A', '#Remove-LvHead-EmployeeLvStructDetails', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        //partial page delete
        $('#Remove-LvHead-EmployeeLvStructDetails').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#LvHeadlist').P2BGetTableDataonSelectedRow('#LvHeadlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LvHeadlist', $('#LvHeadlist').val(), 200, 200, '#frmEmployeeLvStructDetails', '#LvHeadlist', '#Remove-LvHead-EmployeeLvStructDetails');
            event.preventDefault();
        });

        $('#Lookup-LvAssignment-EmployeeLvStructDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupLvAssignment", "EmployeeLvStructDetails")', '', 'LookupDiv', 'LeaveHead Look Up Data', '#LvAssignmentlist', 'LvAssignmentlist', 5, 'LvAssignmentlist', '#frmEmployeeLvStructDetails', 'A', '#Remove-LvAssignment-EmployeeLvStructDetails', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-LvAssignment-EmployeeLvStructDetails').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#LvAssignmentlist').P2BGetTableDataonSelectedRow('#LvAssignmentlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LvAssignmentlist', $('#LvAssignmentlist').val(), 200, 200, '#frmEmployeeLvStructDetails', '#LvAssignmentlist', '#Remove-LvAssignment-EmployeeLvStructDetails');
            event.preventDefault();
        });
    });
</script>
<body>
    <div id="Create_Dialog" title="Create Leave WF  Details ">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmEmployeeLvStructDetails", name = "frmEmployeeLvStructDetails" }))
        {

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row3 content_margine">
                <div id="LvHeadlist_old"></div>
                @Html.LabelFor(m => m.LvHead, "Leave Head:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="LvHeadlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Select LvHead" class="  popup-content-icon-lookup" id="Lookup-LvHead-EmployeeLvStructDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-ConvertLeaveHead-LvEncashReq"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-ConvertLeaveHead-LvEncashReq"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove LvHead" class="popup-content-icon-remove" id="Remove-LvHead-EmployeeLvStructDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="LvHeadlist_old"></div>
                @Html.LabelFor(m => m.LvAssignment, "LvAssignment:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="LvAssignmentlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Select LvAssignment" class="  popup-content-icon-lookup" id="Lookup-LvAssignment-EmployeeLvStructDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-ConvertLeaveHead-LvEncashReq"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-ConvertLeaveHead-LvEncashReq"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove LvAssignment" class="popup-content-icon-remove" id="Remove-LvAssignment-EmployeeLvStructDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

        }
    </div>
</body>
