@{
    Layout = null;
}


@model Leave.LeaveWFDetails
<link href="~/Content/contact_no/contact_no.css" rel="stylesheet" />

<body>
    <div id="Create_Dialog" title="Create Leave WF  Details ">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLeaveWFDetails" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.WFStatus, "WF Status:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.WFStatus, new { @class = "popup-content-textbox ", @id = "WFStatus", @style = "width=99px" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.Comments, "Comments:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Comments, new { @class = "popup-content-textbox", @id = "Comments" })</div>

        }
    </div>
</body>
