
@{
    Layout = null;
}
<form id="LvCancelReqGridPartial" name="LvCancelReqGridPartial" method="post">
    <label>ReqDate :</label>
    <input type="text" id="Grid-ReqDate" name="ReqDate" />
    <label>LvNewReq :</label>
    <input type="text" id="Grid-LvNewReq" name="LvNewReq" />
    <label>Reason :</label>
    <input type="text" id="Grid-Reason" name="Reason" />


</form>
