@model Leave.LvConvertPolicy
@{
    Layout = null;
}
 
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLvConvertPolicy" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LvHead, "Leave Head :", new { @class = "popup-content-label must" })
            <select class="drop must" name="LvHead_drop" style="width:120px;" id="LvHead_drop">
                <option>-Select-</option>
            </select>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LvConvert, "Leave Convert :", new { @class = "popup-content-label must" })
            <select class="drop must" name="LvConvert_drop" style="width:120px;" id="LvConvert_drop">
                <option>-Select-</option>
            </select>
        </div>

       
        
           
    }
</div>
@*<link href="~/Content/Rate_master/Rate_master.css" rel="stylesheet" />*@

<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "auto" });
        $('#LvHead_drop').P2BSelectMenuAppend("@Url.Action("GetLookupLvHeadObjNew", "LvEncashPolicy")", "", "", '');
       
        $('#LvConvert_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3035, "");
         
        $('button').button();
        $('.popup_radio_button').controlgroup();
        
       
        
    });
</script>

