@{
    Layout = null;
}
<form id="LvencashreqPartial" name="LvencashreqPartial" method="post">
    <label>LvNewReq :</label>
    <input type="text" id="Grid-LvNewReq" name="Grid-LvNewReq" />
    <label>FromPeriod :</label>
    <input type="text" id="Grid-FromPeriod" name="Grid-FromPeriod" />
    <label>ToPeriod :</label>
    <input type="text" id="Grid-ToPeriod" name="Grid-ToPeriod" />
    <label>EncashDays :</label>
    <input type="text" id="Grid-EncashDays" name="Grid-EncashDays" />
    <label>Narration :</label>
    <input type="text" id="Grid-Narration" name="Grid-Narration" />

</form>

