@{
    Layout = null;
}
<link href="~/Content/LvHeadObj/LvHeadObj.css" rel="stylesheet" />
@model Leave.LvHeadObj


<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu('menuWidget').addClass("overflow");
        $("#LeaveCode").MaxLength(10);
        $("#LeaveDesc").MaxLength(35);
        $("#LeaveCode").ForceOnlyAlphaNumeric();
        $("#LeaveDesc").ForceOnlyAlphaNumeric();
    });
</script>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLvHeadObj" }))
    {       
   <div class="pos_row3 content_margine">@Html.LabelFor(m => m.LeaveCode, "Leave Code :", new { @class = "pos_popup-content-label" })@Html.TextBoxFor(m => m.LeaveCode, new { @class = "pos_popup-content-textbox", id = "LeaveCode" })</div>
   <div class="pos_row3 content_margine">@Html.LabelFor(m => m.LeaveDesc, "Leave Desc :", new { @class = "pos_popup-content-label" })@Html.TextBoxFor(m => m.LeaveDesc, new { @class = "pos_popup-content-textbox", id = "LeaveDesc" })</div>
    }
</div>
