@{
    Layout = null;
}
<form id="LvNewReqGridPartial" name="LvNewReqGridPartial" method="post">
    <label>ReqDate :</label>
    <input type="text" id="Grid-ReqDate" name="ReqDate" />
    <label>FromDate :</label>
    <input type="text" id="Grid-FromDate" name="FromDate" />
    <label>ToDate :</label>
    <input type="text" id="Grid-ToDate" name="ToDate" />
    <label>TotalDays :</label>
    <input type="text" id="Grid-TotalDays" name="TotalDays" />
    <label>Reason :</label>
    <input type="text" id="Grid-Reason" name="Reason" />
  
</form>
