@{
    Layout = null;
}
<form id="LvOpenBalGridPartial" name="LvOpenBalGridPartial" method="post">
    <label>LvOpening :</label>
    <input type="text" id="Grid-LvOpening" name="LvOpening" />
    <label>LvUtilized :</label>
    <input type="text" id="Grid-LvUtilized" name="LvUtilized" />
    <label>LvCredit :</label>
    <input type="text" id="Grid-LvCredit" name="LvCredit" />
   

</form>
