.familydetails-class {
    float: left;
}

.elms-myself-newreq-showhide {
}

#append-data-lvreq {
}

.detailsclass {
    margin: 1px 3px;
}

.custom-marker span {
    display: block;
    width: 50%;
    padding: 1px 0px 1px 10px;
}

.custom-marker summary:before {
    content: "+";
    display: inline-block;
    margin: 1px 2px;
}

.custom-marker[open] summary:before {
    content: "-";
}

.custom-marker1[open] .custom-marker2 summary::before {
    content: "+";
}

.custom-marker1[open] .custom-marker2[open] summary::before {
    content: "-";
}

/*Level one*/
.custom-marker1 .span {
    display: block;
    /*! width: 50%; */
    /*! padding: 1px 0px 1px 10px; */
}

.custom-marker1 summary:before {
    content: "+";
    display: inline-block;
    margin: 1px 2px;
}

.custom-marker1[open] summary:before {
    content: "-";
}
/*level two*/
.custom-marker2 .span {
    display: block;
}

.custom-marker2 summary:before {
    content: "+";
    display: inline-block;
    margin: 1px 2px;
}

.custom-marker2[open] summary:before {
    content: "-";
}

#epms-salchart {
    float: left;
    width: auto;
}

#epms-gradewise-salchart {
    float: left;
    width: auto;
}

.Hr-data-funattends {
    overflow: auto;
    height: 151px;
    width: 242px;
}

.epms-allallowance-salchart {
    /*float: left;*/
}

.hide-div {
    display: none;
}

.active-link {
}

.dashboard-card {
    transition: 0.3s;
    cursor: pointer;
    margin: 2px;
    position: relative;
    background-color: white;
    border: 0.1px #0e0e0e33 solid;
    padding: 5px;
}


    .dashboard-card:hover {
        box-shadow: 0 8px 16px 0 #0003;
    }


.nav-menu-item a {
    background-color: #3aafa9;
    color: #fff;
    text-align: center;
    display: block;
    padding: 6px 0px;
    font-weight: bold;
}

.nav-menu-link a:hover {
    height: 20px;
    color: white;
}

.nav-menu-link:active {
    height: 20px;
}

.newsevent-div {
    display: none;
    width: 16%;
    height: 462px;
    position: absolute;
    right: 0;
    top: 45px;
}

.card-heading {
    background-color: #ffffffe6;
    color: #000;
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 8px;
    /*! border-bottom: 0.1px solid #cfcfcf; */
}


.chart-container {
    margin-top: 1px;
}

.chart-container-heading {
    font-weight: bold;
    padding: 7px 8px;
}

.hori_line {
    display: block;
    width: 99%;
    height: auto;
    color: black;
    height: 1px;
    margin: 13px auto auto;
}

.chart-container-buttons {
    float: right;
    margin: -5px auto;
}

    .chart-container-buttons > ul > li {
        display: inline-flex;
        margin: -15px auto;
        padding: 1px;
    }

.refresh-btn, .fullscreenchart {
    cursor: pointer;
    font-size: 1.5em;
    color: grey;
}



.elms-lvnewreq {
    /*float: left;*/
    /*! width: 449px; */
    /*position: relative;*/
    /*margin-top: 4px;*/
    overflow: auto;
    /*padding: 5px;*/
}

.new-lvnewreq-span {
    border-bottom: 0.1px solid #d2d2d2;
    display: block;
    text-align: left;
}

.new-lvnewreq-span2 {
    border-bottom: 0.1px solid #d2d2d2;
}

    .new-lvnewreq-span:nth-child(n):hover, .new-lvnewreq-span2:nth-child(n):hover {
        background: #e9e9e9;
    }

.new-lvnewreq-span {
}

.dashboard-table-class {
    width: 100%;
}

.drop {
    width: 100px;
}

.elms-chart-div {
    float: left;
    width: 449px;
    position: relative;
    margin-top: 4px;
    overflow: auto;
}


.epms-paylip {
}

.link-popup-paylip-td {
}

.link-popup-paylip {
    overflow: auto;
    /*height: 151px;*/
    /*width: 242px;*/
}

.new-payslip-span {
    border-bottom: none;
    margin: 1px;
}

.epms-allallowance-salchart {
    /*float: left;*/
}

.epms-allownces {
    /*float: left;*/
}

.btn-header {
    width: 35px;
    float: right;
    margin: 0 3px;
    border: 0.1px solid #3AAFA9;
    background-color: #3AAFA9;
    color: white;
}

#elms-newreq-div {
    overflow: auto;
}

#epms-funattends {
    float: left;
}

#epms-itprojection {
    width: 300px;
}

.card-body {
    overflow: auto;
    max-height: 195px;
}

.epms-salhistory-chart-hideshow {
}

.elms-sanction-lvheaddetails-showhide {
    height: 195px;
}

.elms-sanction-lvnewreq-showhide {
    height: 195px;
}

.card-open:after {
    content: "+";
}

.card-close:after {
    content: "";
}

.card-header-action-btn {
    padding: 2px;
}

.elms-myself-lvsummary-cardbody {
    height: 193px;
}

.epms-myself-showhide {
    /*! height: 400px; */
}

#link-popup-approval-lvnewreq {
    height: 175px;
}

#link-popup-myself-ObNewReq {
    height: 200px;
}

#etrm-myself-div {
}

.summary_heading {
    background-color: #95f0e8b3;
    width: 98%;
    display: block;
    padding: 2px 1px 2px 3px;
    /*! height: 15px; */
    margin: 3px 3px;
}

.summary_bx {
    border: 1px solid #ddd;
    display: block;
    width: 95%;
    margin: 5px 26px;
}

.ReqClass {
}

.summary_content {
    display: inline-block;
    padding: 2px 9px;
    border-bottom: 0.1px solid #d2d2d2;
}

.elms-lvheaddetails {
    /*float: left;
    width: 593px;
    position: relative;
    margin-top: 4px;*/
    overflow: auto;
}

.custom-marker2 summary {
    font-variant: all-petite-caps;
}

.details_margine {
    padding: 2px 11px;
}

.elms-myself-lvbalance-showhide {
    height: 195px;
}

#elms-lvbalnce-div {
}

#Emp-incr-info-div, #Emp-pro-info-div, #Emp-tra-info-div, #Emp-oth-info-div, #familydetails-div, #empqualification-div,#epms-newreq-itinvestmentpayment-div {
    overflow: auto;
}

.chart-type {
    width: 100px;
}

.chart-div {
    margin: 0px 11px;
    overflow: unset;
}

.customelink {
    color: rgba(27, 187, 173, 0.93);
}

    .customelink:hover {
        text-decoration-line: underline;
    }

#eeis-parent-div {
}

.customelink2 {
    color: #2a3231e6;
    display: block;
    padding: 2px 7px;
    width: 248px;
}

.familydetails-class {
    width: 651px;
}

.eeis-container-card-width {
}

.eeis-container-card-height {
    height: 240px;
}

.eeis-add-skill-showhide {
}

.remaing-emp-reporting-class {
    height: 250px;
}

.chart {
    height: 600px;
    margin: 5px;
    width: 900px;
}

.Treant > .node {
}

.Treant > p {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
}

.node-name {
    font-weight: bold;
}

.nodeExample1 {
    padding: 0.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 140px;
    font-family: Verdana;
    font-size: 9px;
}

    .nodeExample1 img {
        margin-right: 10px;
    }

.new-report-popup-class {
    height: 50px;
}


.page_margine {
    margin: 3px auto;
}

.intro-class {
    height: 85px;
    width: auto;
    font-size: 18px;
    padding: 0px 1px 0 5px;
    /*! font-weight: 223em; */
    font-weight: bold;
    border-bottom: 0.1px solid #d8d8d8;
    margin: 0 0 4px 0;
}

.intro-class-smalldesc {
    font-size: 14px;
    font-weight: lighter;
}

#hide-intro-class {
    float: right;
    cursor: pointer;
}

.main-page-div {
    box-shadow: 0 4px 8px 0 #09090966;
    background: white;
    margin: 7px;
}




.side-nav-div-minize {
    float: right;
}


table.custome-table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}

    table.custome-table th {
        padding: 5px;
        text-align: left;
        /*! border-right:0.1px solid #20b69c; */
    }


    table.custome-table td {
        padding: 5px;
        /*! border-left:0.1px solid #20b69c; */
    }

.positionchange {
    margin: 0 0 0 24px;
}

#show-and-hide-drawer {
    font-size: 28px;
    position: absolute;
    top: 50px;
    color: white;
    /*! padding: 1px; */
}

.bgchange {
    background-color: #3AAFA9;
    color: white;
    /*! opacity: 1; */
}

.middle-div-expand {
    width: 97%;
}

.menu-div-expand {
    width: 81%;
}

.side-nav-div2-expand {
    width: 99%;
}

.showClass {
    display: none;
}

.custome-table-content {
    /*! border: #20b69c 0.1px solid; */
}

.table-wrapper {
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 5px 0px;
}

table.custome-table > thead {
    vertical-align: top;
    background: #3AAFA9;
    border: #3AAFA9 0.1px solid;
    color: white;
}

.table-header-info {
    padding: 0px;
}

.new-lvnewreq-span3:nth-child(even) {
    background-color: #3aafa933;
    border-bottom-color: #3aafa933;
    /*border-top-color: #20b69c33;*/
}

.new-lvnewreq-span3:nth-child(odd) {
    border-bottom-color: #3aafa9;
}

.new-lvnewreq-span3:hover {
    background-color: #20b69c33;
}

#show-and-hide-sidenav:hover {
    cursor: pointer;
}

.table-header-search-input {
    width: 186px;
}

.table-header-search {
}

.table-header-total-row-count {
    float: right;
    font-size: 10px;
}

.table-tr-hide {
    display: none;
}

.btn-header:hover {
    background-color: #3AAFA9;
    color: white;
    border-color: #3AAFA9;
}

.card-heading-mark {
    font-size: 5px;
    float: left;
}

.chart-container-parent {
    width: 1200px;
    max-height: 1000px !important;
}
