@{
    ViewBag.Title = "Index";
}



<h2>Our Customer List</h2>


@*@Html.Partial("ReportFile")*@

adfasfasd

@*@Html.Partial("ReportViwerASPX")*@

@*@RenderPage("~/Reports/Master.aspx")*@

<body>
    <iframe width="100%" height="100%" src="../Reports/AddressViewers.aspx"></iframe>
</body>


