

<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />
@{
    Layout = null;
}
@model Training.Budget
<style>
    .icon-row {
        position: relative;
        left: 112px;
        top: -150px;
    }



    .popup-content-label4 {
        display: block;
        float: left;
        width: 120px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 600px;
    }

    .row4 {
        width: 750px;
        display: inline-flex;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .section1 {
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 318px;
        width: 432px;
        margin: 4px auto;
        position: absolute;
        left: 4px;
        top: -2px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .namepush {
        margin-right: 30px;
    }

    .lblwidth {
        width: 110px;
    }

    .Clblwidth {
        width: 111px;
    }

    .Cnamepush {
        margin-right: 127px;
    }

    #Lookup_LvheadDetails {
        right: -360px;
        position: sticky;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }
</style>



<body>
    <div class="TrainingInstits">
        <div title="LookUp Data">
            <div class="lookupdiv_Traininginst"></div>
        </div>
        <div id="pageNavPosition_Traininginst">
        </div>
    </div>

    <div class="FacultyExternal">
        <div title="LookUp Data">
            <div class="lookupdiv_FacultyExternal"></div>
        </div>
        <div id="pageNavPosition_FacultyExternal">
        </div>
    </div>


    <div id="Create_Dialog" title="Create Faculty Specialization">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmBudgetP" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.BudgetCredit, "Budget Credit :", new { @class = "popup-content-label4 must" })@Html.TextBoxFor(m => m.BudgetCredit, new { @class = "popup-content-textbox must must" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.BudgetDebit, "Budget Debit :", new { @class = "popup-content-label4 must" })@Html.TextBoxFor(m => m.BudgetDebit, new { @class = "popup-content-textbox must" })</div>
        }
    </div>
</body>

<script>
    $(document).ready(function (e) {

        $('#BudgetDebit').MaxLength(8);
        $("#BudgetCredit").ForceOnlyNumeric();
        $('#BudgetCredit').MaxLength(8);
        $("#BudgetDebit").ForceOnlyNumeric();
        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Category').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>
