
@{
    Layout = null;
}

<style>
    .row2 {
        width: 400px;
    }
</style>
<form id="FormTrainigDetailSessionInfo" method="post" name="FormTrainigDetailSessionInfo" >

    <input id="batchname" type="hidden" name="batchname" />
    <div class="heading">Training Presenty Details Edit</div>
    <div>
        <label class="popup-content-label">Is Present :</label>
        <span class="popup_radio_button radiopush">
            <span><input type="radio" id="radio33" name="IsPresent1" value="true" /> <label for="radio33">Yes</label></span>
            <span><input type="radio" id="radio44" name="IsPresent1" value="false" checked="checked" /> <label for="radio44">No</label></span>
        </span>
    </div><br>

    <div>
        <label class="popup-content-label">Is Cancel :</label>
        <span class="popup_radio_button radiopush">
            <span><input type="radio" id="radio11" name="IsCancelled1" value="true" /> <label for="radio11">Yes</label></span>
            <span><input type="radio" id="radio22" name="IsCancelled1" value="false" checked="checked" /> <label for="radio22">No</label></span>
        </span>
    </div>
    <div class="row2 content_margine cancel" id="cancel">
        <label class="popup-content-label">Cancel Reason :</label>
        <input type="text" id="CancelReason1" name="CancelReason1" />
    </div>
</form>

<script>


    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
       
        $('.cancel').hide();
        

        $('input[name = "IsCancelled1"]:radio').change(function () {
            if (this.value == "false") {
                $('#CancelReason1').val("");
                $('.cancel').hide();

            }
            if (this.value == "true") {
                $('.cancel').show();

            }
        });


    });




</script>
