
@{
    Layout = null;
}

<style>
    .row2 {
        width: 400px;
    }
</style>
<form id="FormTraingEvaluEdit" method="post" name="FormTraingEvaluEdit">

    @*<div class="row2 content_margine">
            <label class="popup-content-label">SalaryHead :</label>
            <select class="drop" id="Edit-LoanAccBranch" name="SalaryHead" style="width:200px"><option></option></select>
        </div>*@
    <input id="batchname" type="hidden" name="batchname" />
    <div class="heading">Edit Training Evaluation Details </div>

    <div class="row2 content_margine cancel">
        <label class="popup-content-label">GD Score:</label>
        <input type="text" id="GDScore1" name="GDScore1" class="must" />
    </div>
    <div class="row2 content_margine cancel">
        <label class="popup-content-label">Interview Score :</label>
        <input type="text" id="InterviewScore1" name="InterviewScore1" class="must" />
    </div>

    <div class="row2 content_margine cancel">
        <label class="popup-content-label">Written Score :</label>
        <input type="text" id="WrittenScore1" name="WrittenScore1" class="must" />
    </div>
    <div class="row2 content_margine cancel">
        <label class="popup-content-label">Evaluation Details  :</label>
        <input type="text" id="EvaluationDetails1" name="EvaluationDetails1" class="must" />
    </div>


</form>

<script>


    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
        $('#WrittenScore1').ForceOnlyNumeric();
        $('#WrittenScore1').MaxLength(10);
        $('#InterviewScore1').ForceOnlyNumeric();
        $('#InterviewScore1').MaxLength(10);
        $('#GDScore1').ForceOnlyNumeric();
        $('#GDScore1').MaxLength(10);
        //$('#LoanAccNo-edit').ForceOnlyNumeric();
        $('#LoanAccNo-edit').MaxLength(50);
        //   $('#TotalInstallment-edit,#LoanAccNo-edit').ForceAmount();
        //   $('#TotalInstallment-edit,#LoanAccNo-edit').ValidateTextBox({ maxlength: 10 });

        $('input[name = "IsCancelled1"]:radio').change(function () {
            if (this.value == "false") {
                $('.cancel').hide();

            }
            if (this.value == "true") {
                $('.cancel').show();

            }
        });


    });




</script>
