@{
    Layout = null;
}

<style>
    .row2 {
        width: 400px;
    }
</style>
<div id="Create_Dialog" title="Create Training Feedback">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Edit-PerkTransT", Name = "Edit-PerkTransT" }))
    {
        <input id="batchname" type="hidden" name="batchname" />
        <div class="heading">Edit Training Feedback Details </div>
       
        <div class="row2 content_margine cancel">
            <label class="popup-content-label">Training Rating:</label>
            <input type="text" id="TrainingRating1" name="TrainingRating1" class="must" />
        </div>
        <div class="row2 content_margine cancel">
            <label class="popup-content-label">Training Feedback :</label>
            <input type="text" id="TrainingFeedback1" name="TrainingFeedback1" class="must" />
        </div>

        <div class="row2 content_margine cancel">
            <label class="popup-content-label">Faulty Rating :</label>
            <input type="text" id="FaultyRating1" name="FaultyRating1" class="must" />
        </div>

        <div class="row2 content_margine cancel">
            <label class="popup-content-label">Faculty Feedback :</label>
            <input type="text" id="FacultyFeedback1" name="FacultyFeedback1" class="must" />
        </div>
    }

</div>
<script>


    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
        $('#TrainingRating1').ForceOnlyNumeric();
        $('#TrainingRating1').MaxLength(10);
        $('#FaultyRating1').ForceOnlyNumeric();
        $('#FaultyRating1').MaxLength(10);
        //$('#LoanAccNo-edit').ForceOnlyNumeric();
        $('#LoanAccNo-edit').MaxLength(50);
        //   $('#TotalInstallment-edit,#LoanAccNo-edit').ForceAmount();
        //   $('#TotalInstallment-edit,#LoanAccNo-edit').ValidateTextBox({ maxlength: 10 });

        $('input[name = "IsCancelled1"]:radio').change(function () {
            if (this.value == "false") {
                $('.cancel').hide();

            }
            if (this.value == "true") {
                $('.cancel').show();

            }
        });


    });




</script>
