@{
    ViewBag.Title = "Salary Reconciliation ";
}
@model Payroll.SalaryReconcilation



<script>
    $(document).ready(function (e) {
        $('button').button();
        // $("#PayMonth").val($.datepicker.formatDate("mm/yy", new Date()));
        //var ColNames = [];
        //var ColModel = [];
        //var SortName, Caption, url, width, height;
        SortName = 'Id';
        Caption = 'Salary Reconciliation ';
        @*url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;*@
        $('#txtPayMonth').MonthYearPicker();

        $('#txtPayMonth').on('change', function () {
            var val = $('#txtPayMonth').val();
            $.get('@Url.Action("GetPrevMonth", "SalaryReconciliation")?data=' + val, function (data) {
                $("#txtPrevPayMonth").val(data);
            });
             
        });


        //Create Function
       $('#process1').on("click", function (event) {
         
           $.ajax({
               type: 'post',
               url: '@Url.Action("SaveProcess1")',
               data: JSON.stringify({ month: $("#txtPayMonth").val() }),
               contentType: 'application/json; charset=utf-8',
               dataType: "json",
               beforeSend: function () {
                   $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo('body');
               },
               success: function (data) {
                   $('<div></div>').P2BMessageModalDialog('ui-icon-info', data.responseText);
               },
               error: function (data) {
                   $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
               },
               complete: function (data) {
                   $('.ajax_loder').remove();
               }
           });
            event.preventDefault();
        });

        $('.popup_radio_button').controlgroup();
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");


    });
</script>

<html>

<head>
    <title></title>
    @*<link href="~/Content/SalaryT/SalaryT.css" rel="stylesheet" />*@

    <style>
        .icon-row {
            position: relative;
            left: -45px;
            top: -150px;
        }

        #Lookup_FinancialYear_Calendar {
            left: 280px;
            top: 20px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 853px;
        }

        .content_margine {
            margin: 1.5px;
            padding: 0.5px;
            top: 48px;
            position: absolute;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }

        .employeeselectiondiv {
            float: left;
        }

        .addons {
            height: 246px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .section_Method_AnnulaSalR {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 200px;
        }


        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }
    </style>
</head>

<body>
@using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "", name = "frmSalaryReconciliation" }))
        {
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float:left">

                    <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                    <input name="txtPayMonth" type="text" id="txtPayMonth" class="date-picker" />
                </div>
                <button class="button" data-typeofbtn="process" id="process1">Process</button>
                <div class="row3 content_margine">

                    <label id="lblPrevPayMonth" class="popup-content-label">Previous PayMonth:</label>
                    <input name="txtPrevPayMonth" type="text" id="txtPrevPayMonth" readonly="readonly" />
                </div>
            </div>
        </div>
    </div>
}




</body>
</html>
