@{
    Layout = null;
}
@model Recruitment.CandidateDocuments

<style>
    .popup-content-label {
        display: block;
        float: left;
        width: 178px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }



    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .popup_radio_button1 {
        font-size: 9px;
        margin: 0px 0 0px 1px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCandidateDocs" }))
    {
        <input id="autho_action" type="hidden" name="autho_action" />
        <input id="autho_allow" type="hidden" name="autho_allow" />
        <div class="row3 content_margine  ">
            @Html.LabelFor(m => m.DocumentType, "Document Type:", new { @class = "popup-content-label must" })
            <select id="DocTypeList" name="DocTypeList" class="drop must" style="width:180px;">
                <option value="0">-Select-</option>
            </select>

        </div>
        <div class="row3 content_margine  ">
            @Html.LabelFor(m => m.SubDocumentName, "SubDocument Name:", new { @class = "popup-content-label must" })
            <select id="SubDocList" name="SubDocList" class="drop must" style="width:180px;">
                <option value="0">-Select-</option>
            </select>

        </div>

    }
</div>
<script>
    $(function () {
        $('#DocTypeList').selectmenu().selectmenu('menuWidget');
        $('#DocTypeList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1070, "");
        $('#txtUploadDate').P2BDatePicker();
        $('#txtApprovedDate').P2BDatePicker();
        $('#SubDocList').selectmenu().selectmenu('menuWidget');
        $('#SubDocList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1071, "");
        $('#txtUploadDate').prop('readonly', 'readonly');
        $('#txtApprovedDate').prop('readonly', 'readonly');
    });
    $(document).ready(function e() {
        $('.popup_radio_button1').buttonset();
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" });

    });

</script>

