.header-content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 2px 2px 0px 2px;
    background-color: #2BC0B3;
}

.header {
    padding: 9px;
    /*! float: left; */
    height: 51px;
}

.middle-content {
    margin: 0 auto;
}

.menu_content {
    margin: 0px 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(207, 207, 207, 0.91);
}

.footer-content {
    margin: 0 2px;
    /*! position: absolute; */
    bottom: -33px;
    width: 99%;
}

#drawer {
    position: absolute;
    height: auto;
    width: 0px;
    z-index: 999;
    top: 110px;
    left: 2px;
    background-color: #18A689;
    overflow-x: hidden;
    transition: 0.5s;
    margin: 0 auto;
    cursor: pointer;
}

.nav-item {
    width: 79px;
    z-index: 9;
    text-decoration: none;
}

    .nav-item a span {
        transition-duration: 0.25s;
        text-align: center;
        display: block;
        color: white;
        padding: 10px;
        font-size: 15px;
        transition: color 0.2s, background 0.5s;
        font-weight: bold;
    }

    .nav-item > a:hover {
        text-decoration: none;
    }

    .nav-item:hover {
        background-color: rgba(246, 244, 244, 0.4);
        text-decoration: none;
    }

.page_content {
    /*! height: 700px; */
    margin: 0 auto;
    background: #fff;
    /*! top: -9px; */
    bottom: 100%;
    left: 0;
    position: relative;
    background: url(/Content/Background.png) center center fixed;
    width: 99.7%;
    /*! overflow: auto; */
    overflow: hidden;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    margin: 0 auto;
    top: 84px;
    height: 14px;
    display: block;
    position: absolute;
    width: 25px;
    z-index: 1;
    cursor: pointer;
    background: rgba(255,255,255,0);
    margin: 0px 11px;
}

    label[for="nav-trigger"]:before {
        content: '';
        cursor: pointer;
        display: block;
        position: absolute;
        height: 2px;
        width: 25px;
        background: #000;
        box-shadow: 0 6px 0 #000, 0 12px 0 #000;
    }

.nav-trigger + label {
    transition: 0.3s;
}

.nav-trigger:checked + label {
    transform: rotate(180deg);
}

/*.nav-trigger:checked ~ div > nav > #drawer {
    width: 80px;
}*/
/**,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}*/


.menu_content > nav > .menu {
    color: rgba(114, 113, 113, 0.9);
    white-space: nowrap;
    display: block;
    margin: 0px 0 0 35px;
    height: 43px;
}

    .menu_content > nav > .menu > li {
        margin: 0 auto;
        display: inline;
        cursor: pointer;
        float: left;
        margin: 7px 7px;
    }

        .menu_content > nav > .menu > li > a {
            display: inline;
            margin: 0 auto;
            position: relative;
            text-decoration: none;
            color: rgba(114, 113, 113, 0.9);
        }

            .menu_content > nav > .menu > li > a:active, .menu_content > nav > .menu > li > a:hover {
                background: none;
                color: white;
                text-decoration: underline;
            }

        .menu_content > nav > .menu > li:active, .menu_content > nav > .menu > li:hover {
            background: none;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.4),rgba(255,255,255,0.1) 0 5px 0;
            border-radius: 3px;
            color: white;
        }
/*Menu Sub Menu Level 1*/
.submenu {
    visibility: hidden;
    float: none;
    left: auto;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateY(5%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

    .submenu li h5 {
        margin: 0 auto;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

    .submenu li a {
        padding: 0px 10px 0px 10px;
        text-decoration: none;
        font-weight: normal;
        color: rgba(114, 113, 113, 0.9);
    }

        .submenu li a:hover {
            text-decoration: underline;
        }

.menu_content > nav > ul > li:active > .submenu,
.menu_content > nav > ul > li:hover > .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}
/*Menu Sub Menu Level 2*/
.submenu_level_2 {
    visibility: hidden;
    float: none;
    display: inline-block;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateX(50%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.submenu > li:active > .submenu_level_2,
.submenu > li:hover > .submenu_level_2 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}
/*Menu Sub Menu Level 3*/
.submenu_level_3 {
    visibility: hidden;
    float: none;
    display: inline-block;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateX(50%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.submenu_level_2 > li:active > .submenu_level_3,
.submenu_level_2 > li:hover > .submenu_level_3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}
/*Menu Sub Menu Level 4*/
.submenu_level_4 {
    visibility: hidden;
    float: none;
    display: inline-block;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateX(50%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.submenu_level_3 > li:active > .submenu_level_4,
.submenu_level_3 > li:hover > .submenu_level_4 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}


#calendar_display {
    display: block;
    z-index: 999;
    position: absolute;
    cursor: move;
    left: 358px;
    right: 995px;
    top: 225px;
    border: medium none;
}

.menu-icon-size {
    font-size: 1.4em;
}

a {
    color: rgba(114, 113, 113, 0.9);
}

.header-info {
    float: right;
    width: 180px;
    background-color: #f8f8f8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 43px;
    margin: 5px auto;
}

#emp-avatar {
    background-color: #f8f8f8;
    width: 200px;
    align-content: center;
    background-image: url("Content/EmployeeAvatar.png");
    background-image: url('../EmployeeAvatar.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20%;
    height: 57px;
    margin: 0 auto;
    position: absolute;
    width: 58px;
    top: 10px;
    right: 190px;
}

.emp-details {
    text-align: left;
}

#employe-name {
    word-wrap: break-word;
    max-width: 120px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
}

#company-name {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 9px;
}

#todaydate {
}

.header-section1 {
}

.header-section2 {
    margin: 2px;
}

.header-company-name {
    font-size: 15px;
    font-weight: bold;
}

.header-title {
    float: left;
}

.comp-img {
    display: block;
    float: left;
}

.portal-heading {
    font-variant: small-caps;
    font-size: 15px;
}

.header-title-text {
    display: block;
    margin-left: 56px;
}

#today-date-time {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 9px;
}
.intro-class-smalldesc{

}
.header-company-name-div {
    width: 100%;
    display: inline-flex;
}

#company_name {
    width: 50%;
    text-align: left;
    line-height: 25px;
    margin: 10px;
    font-style: italic;
    text-align: left;
    font-size: large;
}

#menu {
    width: 50%;
}

#menu_icon {
    display: flex;
    float: right;
    margin: 10px;
}

    #menu_icon > li {
        padding: 5px;
    }

.main-content-div {
    width: 100%;
    display: inline-flex;
}
#profile-content {
    width: 25%;
    background: rgba(17, 160, 139, 0.97);
}

#information-content {
    width:75%;
}
/*Profile Changes*/
.emp-img-div {
    padding-bottom: 10px;
    width:100%;
    display:grid;
}
#dashboard-emp-avatar {
   display:inline-block;
   margin:0 auto;
   width:100px;
   padding:15px 15px;
   border-radius:74px;
}
#emp-avatar-name {
    margin:0 auto;
}

.emp-avatar-div {
    display:flex;
    padding:5px;
    color:white;
}
.emp-avatar-lb {
    width:125px;
}
.emp-avatar-txt {
    font-weight:bold;
}

/*Profile Changes End Here*/

/*Information Changes Starts Here*/
.rep-icon {
    display: none;
}

.menu-div {
    width: 100%;
    display: inline-flex;
}

.nav-div {
    width: 79%;
    text-align:center;
}

.nav-menu {
    margin: 0 auto;
}
.nav-menu-item {
    display: inline-block;
    cursor: pointer;
    width: 12%;
    margin-top: 1px;
}
.middle-div {
    width:100%;
    height:100%;
}
.chart {
    width:auto;
    height:auto;
}
#remaing-emp-reporting {
    width:auto !important;
}
/*Information Changes End Here*/
@media screen and (max-width: 768px) {
    #profile-content {
        display:none;
        width:auto;
    }
    #information-content {
        width:100%
    }
    .rep-icon {
        display: inline-block;
        position:absolute;
        z-index:999;
    }
    .emp-avatar-div {
        font-size:xx-small;
    }
    .emp-avatar-lb {
        width:117px;
    }
    .nav-div {
        width: 72%;
    }
    .nav-menu {
        margin: 0 auto auto 40px;
    }
}
@media screen and (min-device-width: 320px ) and (orientation:portrait) {
    .menu-div {
        width:100%;
        display:grid;
    }
    .nav-div {
        width: auto;
        padding:2px;
        text-align:center;
    }
    .rep-icon {
        display: inline-block;
        position: absolute;
        z-index: 999;
    }
    .nav-menu {
        margin: 0 auto auto 25px;
    }
    .nav-menu-item {
        margin:0;
        width:20%;
    }
    .filter-menu {
        text-align: center;
        margin:5px;
    }
    #company_name {
        font-size: 1.1em;
        line-height: 14px;
        text-align:unset;
        width:62%;
    }
    #menu {
        font-size: xx-small;
        width:38%;
    }
    .card-heading {
        font-size: xx-small;
    }
}