@{
    Layout = null;
}
<script>
    $(function () {
        $('.popup_radio_button').controlgroup();     
        $('input[name="IsActive"]').val([true]); 
    });

</script>
<style>
    .row2 {
        width: 400px;
    }
</style>
<form id="Edit-AndroidApp" method="post" name="Edit-AndroidApp"> 
    <div class="row2 content_margine">
        <label class="popup-content-label">Active_User :</label>
        <div class="popup_radio_button">
            <div id="radioset">
                <span><input type="radio" id="radio11" name="IsActive" value="true" /> <label for="radio11">Yes</label></span>
                <span><input type="radio" id="radio22" name="IsActive" value="false" /> <label for="radio22">No</label></span>
            </div>
        </div>
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">IsGeoFenceAttendApplicable :</label>
        <div class="popup_radio_button">
            <div id="radioset">
                <span><input type="radio" id="radio33" name="IsGeoFenceApp" value="true" /> <label for="radio33">Yes</label></span>
                <span><input type="radio" id="radio44" name="IsGeoFenceApp" value="false" /> <label for="radio44">No</label></span>
            </div>
        </div>
    </div>
    
</form>
