@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        $('#AreaCode').MaxLength(10);
        $('#AreaName').MaxLength(50);
        $('#TxtPinCode').MaxLength(6);
        $('#TxtPinCode').ForceOnlyNumeric();
    });

</script>
<style>
    .are_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .are_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .are_row3 {
        width: 255px;
    }
</style>
<div>
    <form id="FormArea" method="post">
        <div class="are_row3 content_margine">
            <label class="are_popup-content-label must">Code :</label>
            <input type="text" id="AreaCode" name="Code" class="are_popup-content-textbox must" maxlength="10" />
        </div>
        <div class="are_row3 content_margine">
            <label class="are_popup-content-label must">Name :</label>
            <input type="text" id="AreaName" name="Name" class="are_popup-content-textbox must" maxlength="50" />
        </div>
        <div class="are_row3 content_margine">
            <label class="are_popup-content-label must">PinCode :</label>
            <input type="text" id="TxtPinCode" name="PinCode" class="are_popup-content-textbox must" maxlength="6" />
        </div>
    </form>
</div>