@{
    Layout = null;
}
@model P2b.Global.Area

<script>
    $(document).ready(function () {
        //$('#AreaCode').ForceOnlyAlphaNumeric();
        //$('#AreaCode').MaxLength(10);
        $('#AreaCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#AreaName').MaxLength(50);
        $('#txtPinCode').MaxLength(6);
        $('#txtPinCode').ForceOnlyNumeric();
    });

</script>
<style>
    .are_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .are_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .are_row3 {
        width: 255px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmArea" }))
    {
        <div class="are_row3 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "are_popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "are_popup-content-textbox must", @maxlength = "10", id = "AreaCode" })</div>
        <div class="are_row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "are_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "are_popup-content-textbox must", @maxlength = "50", id = "AreaName" })</div>
        <div class="are_row3 content_margine">@Html.LabelFor(m => m.PinCode, "PinCode :", new { @class = "are_popup-content-label must" })@Html.TextBoxFor(m => m.PinCode, new { @class = "are_popup-content-textbox must", id = "txtPinCode", @maxlength = "6" })</div>
    }
</div>