
@{
    Layout = null;
}
<style>
    .city_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .city_popup-content-textbox {
        margin-bottom: 1px;
        width: 150px;
    }

    .city_row3 {
/*        width: 250px;*/
    }
</style>
<div>
        <form id = "FormCity" method="post">
            <div class="city_row3 content_margine">
                <label class="city_popup-content-label must">Code :</label>
                <input type="text" id="CityCode" name="Code" class="city_popup-content-textbox must" maxlength="10" />
            </div>
            <div class="city_row3 content_margine">
                <label class="city_popup-content-label must">Name :</label>
                <input type="text" id="CityName" name="Name" class="city_popup-content-textbox must" maxlength="50" />
            </div>
            <div class="city_row3 content_margine">
                <label class="city_popup-content-label must">Category :</label>
                <select class="drop must" name="Category_drop" id="CategoryList_DDL"><option></option></select>
            </div>
        </form>
</div>
<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "200px" });
        $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 401, "");

        //$('#CityCode').ForceOnlyAlphaNumeric();
        $('#CityCode').MaxLength(10);
        //$('#CityCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#CityName').MaxLength(50);

    });
</script>