@{
    Layout = null;
}
<style>
    .contact_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .contact_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 95px;
    }

    .contact_row {
        width: 397px;
    }

    .con_icon-row {
        position: absolute;
        left: 64px;
        top: 83px;
    }
</style>
<div class="ContactNosLKDiv">
    <div title="LookUp Data">
        <div class="lookupdiv_ContactNos"></div>
    </div>
    <div id="PageNavPosition_ContactNos">

    </div>
</div>

<div>
        <form id = "FormContactDetails" method="post">
            <div class="contact_row content_margine">
                <label class = "contact_popup-content-label">Email Id :</label>
                <input type="text" id="EmailId" name="EmailId" class = "contact_popup-content-textbox" maxlength = "100"/>
            </div>
            <div class="contact_row content_margine">
                <label class="contact_popup-content-label">Website :</label>
                <input type="text" id="Website" name="Website" class="contact_popup-content-textbox" maxlength="100" />
            </div>
            <div class="contact_row content_margine">
                <label class="contact_popup-content-label">Fax NO :</label>
                <input type="text" id="FaxNo" name="FaxNo" class="contact_popup-content-textbox" maxlength="15" />
            </div>
            <div class="contact_row content_margine">
                <label class="contact_popup-content-label">Contact No :</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactNos_List">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="con_icon-row icon-row">
                    <button data-p2btooltip="Lookup Contact Numbers" class="popup-content-icon-lookup" id="Lookup-ContactNo-ContDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Numbers" class="popup-content-icon-create" id="Create-ContactNo-ContDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Numbers" class="popup-content-icon-edit" id="Edit-ContactNo-ContDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Delete Contact Numbers" class="popup-content-icon-remove" id="Remove-ContactNo-ContDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
        </form>
</div>


<script>
    $(document).ready(function () {
        $('#EmailId').ForceEmail();
        $('#EmailId').MaxLength(100);
        $('#Website').MaxLength(100);
        $('#Website').ForceURL();
        $('#FaxNo').MaxLength(15);
        // $('#FaxNo').ForceFaxNo();
        $('#FaxNo').ForceOnlyNumeric();
    });

</script>
<script>
    $(document).ready(function () {
        $('button').button();
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactNo-ContDetails').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "ContactNumbers")', 'Create Dialog', 'open', 'http://localhost/P2BUltimate2.0Api/CORE/GetContactNumbersCreateRequest', '#FormContactNo', 'Message :', 'Request Falied :', '#JqGrid', 200, 350, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                debugger;
                $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', data[0].Id, P2bGetFullDetails(data[0]), 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
            });
            event.preventDefault();
        });

        $('#Lookup-ContactNo-ContDetails').button().on('click', function (event) {
            $('.ContactNosLKDiv').P2BLookUpModal('http://localhost/P2BUltimate2.0Api/CORE/GetContactNumbersEditRequest', '', 'lookupdiv_ContactNos', 'ContactDetails Look Up Data', '#ContactNos_List', 'ContactNos_List', 5, 'ContactNos_List', '#FormContactDetails', 'A', '', 'lookupdiv_ContactNos', 'PageNavPosition_ContactNos');
            event.preventDefault();
        });

        $('#Edit-ContactNo-ContDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactNos_List').P2BGetTableDataonSelectedRow('#ContactNos_List', 0);
            b = a[0];
            console.log(b);
            event.preventDefault();
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "ContactNumbers")', 'http://localhost/P2BUltimate2.0Api/CORE/GetContactNumbersEditRequest', b, 'http://localhost/P2BUltimate2.0Api/CORE/GetContactNumbersEditSaveRequest', 'Edit Contact Numbers', '#FormContactNo', b, 'Message :', 'Request Falied :', '#JqGrid', 200, 300, '#FormContactDetails', '#ContactNos_List', 'ContactNos_List', 'ContactNos_List', 'A', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                var k = data.Data;
                    $('#FormContactNo').trigger('reset');
                    $('#MobileNo').val(k.MobileNo);
                    $('#LandlineNo').val(k.LandlineNo);
                    $('#STDCode').val(k.STD);

            });

        });


        $('#Remove-ContactNo-ContDetails').button().on('click', function (event) {

            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactNos_List').P2BGetTableDataonSelectedRow('#ContactNos_List', 0);
            //var selectedRows = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            //var c = [], d;
            //c = $('#ContactNos_List').P2BGetTableDataonSelectedRow('#ContactNos_List', 0);
            //d = c[0];
            // deleteurl, deletedata, forwarddata, deletemessage, deletesuccessmessage, deleteerrormessage, selectfield, optionvalue, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, btndisable) {
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("Delete", "ContactNumbers")', selectedRows, b, 'Are you sure you want to remove record???', 'Message : ', 'Request failed', '#ContactNos_List', $('#ContactNos_List').val(), 200, 200, '#FormContactDetails', '#ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails');
            event.preventDefault();

        });

    });
</script>