@{
    Layout = null;
}
@*<link href="~/Content/contact_no/contact_no.css" rel="stylesheet" />*@
<script>
    $(document).ready(function () {
        // $('#MobileNo').ForceOnlyNumeric();
        $('#MobileNo').MaxLength(10);
        //$('#MobileNo').MinLength(8);
        $('#MobileNo').ForceContactNumber();
        $('#LandlineNo').ForceOnlyNumeric();
        $('#LandlineNo').MaxLength(15);
    });

</script>

@model P2b.Global.ContactNumbers
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmContactNo", name = "frmContactNo" }))
    {
        <div>@Html.LabelFor(m => m.MobileNo, "Mobile No :", new { @class = "cont_popup-content-label must" })@Html.TextBoxFor(m => m.MobileNo, new { @class = "cont_popup-content-textbox must", @id= "MobileNo", @maxlength = "10" })</div>
        <div>@Html.LabelFor(m => m.LandlineNo, "Landline No :", new { @class = "cont_popup-content-label" })@Html.TextBoxFor(m => m.LandlineNo, new { @class = "cont_popup-content-textbox", @maxlength = "15" })</div>
    }
</div>