@{
    Layout = null;
}
<style>
    .cont_popup-content-label {
        width: 88px;
        display:inline-block;
    }

    .cont_popup-content-textbox {
        width: 150px;
    }
</style>
<script>
    $(document).ready(function () {
        // $('#MobileNo').ForceOnlyNumeric();
        $('#MobileNo').MaxLength(10);
        //$('#MobileNo').MinLength(8);
        $('#MobileNo').ForceContactNumber();
        $('#LandlineNo').ForceOnlyNumeric();
        $('#LandlineNo').MaxLength(15);
    });

</script>
<div>
    <form id="FormContactNo" method="post">
        <div class="content_margine">
            <label class="cont_popup-content-label must">Mobile No :</label>
            <input type="text" id="MobileNo" name="MobileNo" class="cont_popup-content-textbox must" maxlength="10" />
        </div>
        <div class="content_margine">
            <label class="cont_popup-content-label">Landline No :</label>
            <input type="text" id="LandlineNo" name="LandlineNo" class="cont_popup-content-textbox" maxlength="15" />
        </div>
    </form>
</div>