@{
    Layout = null;
}
<style>
    .coun_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 100px;
    }

    .coun_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .coun_row3 {
        width: 274px;
    }
</style>

<div>
    <form id = "FormCountry" method="post">
        <div class="coun_row3 content_margine">
            <label class="coun_popup-content-label must">Code :</label>
            <input type="text" id="TextCountryCode" name="Code" class="coun_popup-content-textbox must" maxlength="10" />
        </div>
        <div class="coun_row3 content_margine">
            <label class="coun_popup-content-label must">Name :</label>
            <input type="text" id="TextCountryName" name="Name" class="coun_popup-content-textbox must" maxlength="50" />
        </div>
        <div class="coun_row3 content_margine">
            <label class="coun_popup-content-label">Currency Code :</label>
            <input type="text" id="CurrencyCode" name="CurrencyCode" class="coun_popup-content-textbox" maxlength="10" />
        </div>
        <div class="coun_row3 content_margine">
            <label class="coun_popup-content-label">Currency Desc :</label>
            <input type="text" id="CurrencyDesc" name="CurrencyDesc" class="coun_popup-content-textbox" maxlength="100" />
        </div>
        <div class="coun_row3 content_margine">
            <label class="coun_popup-content-label">Isd Code :</label>
            <input type="text" id="ISDCode" name="ISDCode" class="coun_popup-content-textbox" maxlength="10" />
        </div>
    </form>                                                                                                                                                                                                            
</div>
<script>
    $(document).ready(function () {
        //$('#txtCountCode').ForceOnlyAlphaNumeric();
        //$('#txtCountCode').MaxLength(10);
        //$('#txtCountName').MaxLength(30);
        //$('#CurrencyCode').ForceOnlyAlphaNumeric();
        ////$('#CurrencyCode').ForceOnlyNumeric();
        //$('#CurrencyCode').MaxLength(10);
        //$('#CurrencyDesc').MaxLength(20);
        //$('#ISDCode').MaxLength(3);
        //$('#ISDCode').ForceOnlyNumeric(3);

        //$('#txtCountCode').ValidateTextBox({ maxlength: 10, name: true });
        //$('#txtCountName').ValidateTextBox({ maxlength: 30, name: true });
        //$('#CurrencyCode').ValidateTextBox({ maxlength: 10, name: true });
        //$('#CurrencyDesc').ValidateTextBox({ maxlength: 30, name: true });
        $('#TextCountryCode').MaxLength(10);
        $('#TextCountryCode').ForceOnlyAlphaNumeric();
        $('#TextCountryName').MaxLength(50);
        $('#CurrencyCode').MaxLength(10);
        $('#CurrencyCode').ForceOnlyAlphaNumeric();
        $('#CurrencyDesc').MaxLength(100);
        $('#ISDCode').MaxLength(10);
        $('#ISDCode').ForceOnlyNumeric(10)



    });

</script>