@{
    Layout = null;
}
@model P2b.Global.DepartmentObj



<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmDepartmentObj" }))
    {
        <div class="dept_row3 content_margine">@Html.LabelFor(m => m.DeptCode, "Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DeptCode, new { @class = "popup-content-textbox must", @maxlength = "10", id = "DeptCodetext" })</div>
        <div class="dept_row3 content_margine">@Html.LabelFor(m => m.DeptDesc, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DeptDesc, new { @class = "popup-content-textbox must", @maxlength = "50", id = "DeptDesctext" })</div>
    }
</div>
<script>
    $(document).ready(function () {
        //$('#AreaCode').ForceOnlyAlphaNumeric();
        //$('#DeptCodetext').MaxLength(10);
        //$('#DeptDesctext').MaxLength(50);
        //$('#DeptCodetext').MaxLength(6);
        //$('#DeptCode').ForceOnlyNumeric();

        $('#DeptCodetext').MaxLength(10);
        $('#DeptCodetext').ForceOnlyAlphaNumeric();
        $('#DeptDesctext').MaxLength(50);
    });

</script>