@model P2b.Global.District
@{
    Layout = null;
}
<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>

<style>
    .dis_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .dis_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .dis_row3 {
        width: 250px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormDistrict" }))
    {
        <div class="dis_row3 content_margine">@Html.LabelFor(m => m.Code, "Code:", new { @class = "dis_popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "dis_popup-content-textbox must", id = "DistrictCode", @maxlength = "10" })</div>
        <div class="dis_row3 content_margine">@Html.LabelFor(m => m.Name, "Name:", new { @class = "dis_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "dis_popup-content-textbox must", id = "DistrictName", @maxlength = "30" })</div>
    }
</div>

<script>
    $(document).ready(function () {
        //$('#DistrictCode').ForceOnlyAlphaNumeric();
        //$('#DistrictCode').MaxLength(10);
        $('#DistrictCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#DistrictName').MaxLength(30);
    });

</script>