@model P2b.Global.EmailField
@{
    Layout = null;
}
<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>
<style>
    .email_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 138px;
    }

    .email_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .email_row3 {
        width: 350px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmailField" }))
{

    <div class="email_row3 content_margine">@Html.LabelFor(m => m.EmailTemplateField, "EmailTemplateField :", new { @class = "email_popup-content-label must" })<select class="drop must" name="EmailField_drop" id="EmailField_drop"><option></option></select></div>
}
</div>
<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "200px" });
        $('#EmailField_drop').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 808, "");

        //$('#CityCode').ForceOnlyAlphaNumeric();
        //$('#CityCode').MaxLength(10);
        //$('#CityCode').ValidateTextBox({ maxlength: 10, name: true });
        //$('#CityName').MaxLength(30);

    });
</script>