@model P2b.Global.Hobby
@{
    Layout = null;
}
<script>
    $(document).ready(function () {

        $('#HobbyName').ValidateTextBox({ maxlength: 25, name: true });
    });
    </script>
<div id="Create_Dialog" title="Create Hobby">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmHobby", name = "frmHobby" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.HobbyName, "HobbyName :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.HobbyName, new { @class = "popup-content-textbox must"})
        </div>

    }
</div>