@model P2b.Global.Hobby
@{
    Layout = null;
}
<style>
    .popup-content-label-partial-1 {
        display: block;
        float: left;
        width: 100px;
    }

    .popup-content-textbox-partial-1 {
        margin-bottom: 1px;
        width: 150px;
    }
</style>
<script>
    $(document).ready(function () {

        $('#HobbyName').MaxLength(50);
    });
    </script>
<div id="Create_Dialog" title="Create Hobby">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormHobby", name = "FormHobby" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.HobbyName, "HobbyName :", new { @class = "popup-content-label-partial-1 must" })
            @Html.TextBoxFor(m => m.HobbyName, new { @class = "popup-content-textbox-partial-1 must", @id = "HobbyName", @maxlength = "50" })
        </div>

    }
</div>