@{
    Layout = null;
}
@model P2b.Global.Holiday
@*<link href="~/Content/Hollyday/Hollyday.css" rel="stylesheet" />*@

<style>
    .holly_row3 {
        width:350px;
    }

    .holly_popup-content-label {
        width: 90px;
        display: block;
        float: left;
    }

    .holly_popup-content-textbox {
        min-width: 53%;
    }


</style>
<div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormHoliday", name = "FormHoliday" }))
    {

    <div class="holly_row3 content_margine"> @Html.LabelFor(m => m.HolidayName, "Name :", new { @class = "holly_popup-content-label must" })<select id="HollydayName_DDL" name="HolidayNamelist" class="drop must"></select></div>
    <div class="holly_row3 content_margine"> @Html.LabelFor(m => m.HolidayType, "Type :", new { @class = "holly_popup-content-label must" })<select id="HollydayType_DDL" name="HolidayTypelist" class="drop must"></select></div>
}
</div>
<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu('menuWidget').addClass('overflow');
        $('#HollydayName_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 202, '');
        $('#HollydayType_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")',203, '');
    });
</script>
