@model Payroll.InsuranceProduct
@{
    Layout = null;
}

@*<link href="~/Content/Insurance_product/Insurance_product.css" rel="stylesheet" />*@
<script>
    $(document).ready(function () {
        $('#StartDate').P2BDatePicker();
        $("#StartDate").keypress(function (event) { event.preventDefault(); });
    });
</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInsuranceProductus" }))
{
    <div class="row1 content_margine">@Html.LabelFor(m => m.InsuranceProductDesc, "Name :", new { @class = "popup-content-label must" }) @Html.TextBoxFor(m => m.InsuranceProductDesc, new { @class = "insu_popup-content-textbox must" })</div>
    <div class="row1 content_margine">@Html.LabelFor(m => m.StartDate, "Start Date :", new { @class = "popup-content-label must" }) @Html.TextBoxFor(m => m.StartDate, new { @class = "insu_popup-content-textbox must" })</div>
}
