@{
    Layout = null;
}
@*<link href="~/Content/Position/Position.css" rel="stylesheet" />*@
@model P2b.Global.JobPosition
<style>
    .pos_popup-content-label {
        width: 100px;
        display: block;
        float: left;
    }
</style>
<html>
<body>
    <div id="Create_Dialog" title="Create JobPosition Desc">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmJobPosition" }))
        {
            <div class="pos_row3 content_margine">@Html.LabelFor(m => m.JobPositionCode, "Code :", new { @class = "pos_popup-content-label must" })@Html.TextBoxFor(m => m.JobPositionCode, new { @class = "pos_popup-content-textbox must", @id = "JobPositionCode", @maxlength = "10" })</div>
            <div class="pos_row3 content_margine">@Html.LabelFor(m => m.JobPositionDesc, "Description :", new { @class = "pos_popup-content-label must" })@Html.TextBoxFor(m => m.JobPositionDesc, new { @class = "pos_popup-content-textbox must", @id = "JobPositionDesc", @maxlength = "100" })</div>
        }
    </div>
</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button().on('click', function () {
        });
    });
    $('#JobPositionCode').MaxLength(10).ForceOnlyAlphaNumeric();
    $('#JobPositionDesc').MaxLength(100).ForceOnlyAlphaNumeric();
    $('#JobPositionCode').ValidateTextBox({ maxlength: 5, alphanum: true });
</script>