@{
    Layout = null;
}
@model P2b.Global.Language
<style>
    .popup-content-label-partial-2 {
        display: block;
        float: left;
        width: 115px;
    }
    .popup-content-textbox-partial-2 {
        margin-bottom: 1px;
        width: 150px;
    }

</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormLanguage" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.LanguageName, "Language Name :", new { @class = "popup-content-label-partial-2 must" })
            @Html.TextBoxFor(m => m.LanguageName, new { @class = "popup-content-textbox-partial-2 must",@id= "LanguageName", @maxlength = "50" })
        </div>

    }
</div>
<script>
    $(function () {
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('.date').P2BDatePicker();
        $('.popup_radio_button').controlgroup();
        $('#LanguageName').MaxLength(50);
    });
</script>
