@model P2b.Global.Level
@{
    Layout = null;
}
<style>
    .lev_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .lev_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .lev_row1 {
        width: 241px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormLevel" }))
    {
        <div class="lev_row1 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "lev_popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "lev_popup-content-textbox must", id = "Level_Code", @maxlength = "10" })</div>
        <div class="lev_row1 content_margine"> @Html.LabelFor(m => m.Name, "Name :", new { @class = "lev_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "lev_popup-content-textbox must", id = "Level_Name", @maxlength = "50" })</div>
    }
</div>

<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
        //$('#Code').ValidateTextBox({ maxlength: 10, AlphaNum: 0 });
        $('#Level_Code').MaxLength(10).ForceOnlyAlphaNumeric();
        $('#Level_Name').MaxLength(50).ForceOnlyAlphaNumeric();

        $('#Level_Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#Level_Name').ValidateTextBox({ maxlength: 50, name: true });
    });
</script>