@{
    Layout = null;
}
@model P2b.Global.LocationObj

<script>
    $(function () {
      
        //$('#LocDesc').ForceOnlyAlpha();
        $('#LocCode').MaxLength(10);
        $('#LocCode').ForceOnlyAlphaNumeric();
        $('#LocDesc').MaxLength(50);
        $('#LocDesc').ForceOnlyAlphaNumeric();
    });
</script>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormLocationObj" }))
    {
        <div class="dept_row3 content_margine">@Html.LabelFor(m => m.LocCode, "Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LocCode, new { @class = "popup-content-textbox must", @id = "LocCode", @maxlength = "10" })</div>
        <div class="dept_row3 content_margine">@Html.LabelFor(m => m.LocDesc, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LocDesc, new { @class = "popup-content-textbox must", @id = "LocDesc", @maxlength = "50" })</div>
    }
</div>