@{
    Layout = null;
}
@model P2b.Global.Medicine


<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>


<style>
    .Med_popup-content-label {
        float: left;
        width: 107px;
    }

    .Med_popup-content-textbox {
        width: 150px;
    }
</style>

<html>
<body>

    <div id="Create_Dialog" title="Create Allergy">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormMedicine" }))
        {
            <div class="Med_row3 content_margine">@Html.LabelFor(m => m.Name, "Medicine Name :", new { @class = "Med_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "Med_popup-content-textbox must", @maxlength = "50",@id="MedicalName" })</div>
            <div class="Med_row3 content_margine">@Html.LabelFor(m => m.MedPower, "Medicine Power :", new { @class = "Med_popup-content-label" })@Html.TextBoxFor(m => m.MedPower, new { @class = "Med_popup-content-textbox", @maxlength = "6" })</div>
            <div class="Med_row3 content_margine">@Html.LabelFor(m => m.Manufacturer, "Manufacturer :", new { @class = "Med_popup-content-label" })@Html.TextBoxFor(m => m.Manufacturer, new { @class = "Med_popup-content-textbox", @maxlength = "100" })</div>
        }
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
    });
    $(document).ready(function () {
        $('#Name').ForceOnlyAlphaNumeric();
        $('#MedicalName').MaxLength(50);
        $('#MedPower').ForceOnlyAlphaNumeric();
        $('#MedPower').MaxLength(6);
        $('#Manufacturer').ForceOnlyAlphaNumeric();
        $('#Manufacturer').MaxLength(100);
    });

</script>
