@model P2b.Global.NomineeBenefit
@{
    Layout = null;
}
<style>
    .ben_popup-content-textbox {
        margin-bottom: 1px;
        width: 117px;
    }

    .ben_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 95px;
    }

    .ben_row3 {
        width: 272px;
    }

    .search {
        padding-left: 5px;
    }

    .dem {
        position: relative;
        left: -19px;
        top: 4px;
        height: 15px;
        width: 15px;
    }

    .ben_popup-content-textbox-firstrow {
        width: 47%;
        float: left;
        margin: 1px 0px;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormNomineeBenefit" }))
{
    <div>
        <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.BenefitType, "BenefitName : ", new { @class = "ben_popup-content-label must" })<select class="must" id="Type_Nomines" name="Type_Nomines" style="width:120px;"><option></option></select></div>
        <div class="ben_row3 content_margine">@Html.LabelFor(m => m.BenefitPerc, "Percentage :", new { @class = "ben_popup-content-label" })@Html.TextBoxFor(m => m.BenefitPerc, new { @class = "ben_popup-content-textbox" })</div>
    </div>
}

<script>
    $('#Type_Nomines').selectmenu().selectmenu("menuWidget");
    $('#Type_Nomines').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 311, "");
    $('#BenefitPerc').ForceOnlyNumeric();
    $('#MedPower').MaxLength(6);

    </script>