@model P2b.Global.Skill
@{
    Layout = null;
}

<script>
   $(document).ready(function () {

       $('#Name').ValidateTextBox({ maxlength: 50, name: true });
       $('#SkillTypelist').selectmenu().selectmenu('menuWidget');
       $('#SkillTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 315, "");
      
   });
   
    </script>
<div>

    <div id="Create_Dialog" title="Create Skill">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSkill", name = "frmSkillCreate" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
              <div class="row3 content_margine">@Html.LabelFor(m => m.SkillType, "Skill Type :", new { @class = "popup-content-label must " })<select id="SkillTypelist" name="SkillTypelist" class="must" style="width:161px;"><option></option></select></div>           
              <div class="row3 content_margine">
            @Html.LabelFor(m => m.Name, "Skill Name :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must" })
        </div>
        }
    </div>

</div>