@model P2b.Global.SMSAddress

@{
    Layout = null;
}
<style>
    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 140px;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 76px;
    }

    .icon-row {
        position: relative;
        left: 53px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    skill_row1 {
        width: 200px;
    }
</style>

<div class="Lookup_Increment">
    <div title="LookUp Data">
        <div class="lookupdiv11"></div>
    </div>
    <div id="pageNavPosition11">

    </div>
</div>
<div id="Create_Dialog" title="Create Sms Address">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSMSAddress", name = "frmSMSAddress" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

         <div class="row3 content_margine">
           
             <div>@Html.LabelFor(m => m.MobileNo, "Mobile No :", new { @class = "cont_popup-content-label must" })@Html.TextBoxFor(m => m.MobileNo, new { @class = "cont_popup-content-textbox must", @maxlength = "10" })</div>
        </div>

    }
</div>


<script>
    $(document).ready(function (e) {
        $("button").button();
        var dt;
        Caption = 'SmsAddress Details';
        $('#MobileNo').MaxLength(10);
        $('#MobileNo').ForceContactNumber();

        $('#EmailAddressTypelist').selectmenu().selectmenu("menuWidget");


        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });

</script>