

@{
    Layout = null;
}
@model P2b.Global.SocialActivities


    @*<link href="~/Content/social_activity/social_activity.css" rel="stylesheet" />*@
<style>

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 95px;
    }

    .row1 {
        width: 264px;
    }
    </style>

   



<body>
    <div id="Create_dialog1">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormSocialActivities" }))
        {
            <div class=" row1 content_margine"> @Html.LabelFor(m => m.InstituteName, "Institute :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.InstituteName, new { @class = "popup-content-textbox" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.PostHeld, "Post Held :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.PostHeld, new { @class = "popup-content-textbox" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.FromPeriod, "From Period :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FromPeriod, new { @class = "popup-content-textbox-short must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.ToPeriod, "To Period :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ToPeriod, new { @class = "popup-content-textbox-short must" })</div>
        }
    </div>
</body>
<script>
    $(document).ready(function (e) {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('#FromPeriod,#ToPeriod').P2BDatePicker();
        $('#InstituteName').ValidateTextBox({ maxlength: 50, name: true });
        $('#PostHeld').ValidateTextBox({ maxlength: 50, name: true });
        $('#FromPeriod').prop('readonly', 'readonly');
        $('#ToPeriod').prop('readonly', 'readonly');

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};
    });
    // $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
</script>























