@{
    Layout = null;
}
<style>
    .statere_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .statere_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .statere_row3 {
        width: 250px;
    }
</style>
<div>
    <form id="FormStateRegion" method="post">
        <div class="statere_row3 content_margine">
            <label class="statere_popup-content-label must">Code :</label>
            <input type="text" id="RegionCode" name="Code" class="statere_popup-content-textbox must" maxlength="10" />
        </div>
        <div class="statere_row3 content_margine">
            <label class="statere_popup-content-label must">Name :</label>
            <input type="text" id="RegionName" name="Name" class="statere_popup-content-textbox must" maxlength="50" />
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        //$('#RegionCode').ForceOnlyAlphaNumeric();
        $('#RegionCode').MaxLength(10);
        //$('#RegionCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#RegionName').MaxLength(50);
    });

</script>