
@{
    Layout = null;
}

<style>
    .tal_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .tal_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .tal_row3 {
        width: 250px;
    }
</style>
<div>
        <form id = "FormTaluka" method="post">
            <div class="tal_row3 content_margine">
                <label class="tal_popup-content-label must">Code :</label>
                <input type="text" id="TalukaCode" name="Code" class="tal_popup-content-textbox must" maxlength="10" />
            </div>
            <div class="tal_row3 content_margine">
                <label class="tal_popup-content-label must">Name :</label>
                <input type="text" id="TalukaName" name="Name" class="tal_popup-content-textbox must" maxlength="50" />
            </div>
        </form>
</div>

<script>
    $(document).ready(function () {
        //$('#TalukaCode').ForceOnlyAlphaNumeric();
        $('#TalukaCode').MaxLength(10);
        //$('#TalukaCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#TalukaName').MaxLength(50);
    });

</script>