@model P2b.Global.Taluka

@{
    Layout = null;
}

<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>
<style>
    .tal_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 70px;
    }

    .tal_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .tal_row3 {
        width: 250px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmTaluka" }))
    {
        <div class="tal_row3 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "tal_popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "tal_popup-content-textbox must", id = "TalukaCode", @maxlength = "10" })</div>
        <div class="tal_row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "tal_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "tal_popup-content-textbox must", id = "TalukaName", @maxlength = "30" })</div>
    }
</div>

<script>
    $(document).ready(function () {
        //$('#TalukaCode').ForceOnlyAlphaNumeric();
        //$('#TalukaCode').MaxLength(10);
        $('#TalukaCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#TalukaName').MaxLength(30);
    });

</script>