@{
    Layout = null;
}
@model P2b.Global.WeeklyOffList
@*<link href="~/Content/Hollyday/Hollyday.css" rel="stylesheet" />*@
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormWeeklyOffList", name = "FormWeeklyOffList" }))
    {

        <div class="holly_row3 content_margine"> @Html.LabelFor(m => m.WeekDays, "Name :", new { @class = "popup-content-label must" })
            <select id="WeekDayslist" name="WeekDayslist" class="drop must"></select></div>
        <div class="holly_row3 content_margine"> @Html.LabelFor(m => m.WeeklyOffStatus, "Type :", new { @class = "popup-content-label must" })
            <select id="WeeklyOffStatuslist" name="WeeklyOffStatuslist" class="drop must"></select></div>
    }
</div>
<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu('menuWidget').addClass('overflow');
        $('#WeekDayslist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 200, '');
        $('#WeeklyOffStatuslist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 201, '');
    });
</script>
