.header-content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 2px 2px 0px 2px;
    background-color: #00897B;
}

.header {
    padding: 10px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.middle-content {
    margin: 0 auto;
    height: inherit;
}

.menu_content {
    margin: 0px 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(207, 207, 207, 0.91);
}

.footer-content {
    margin: 0 2px;
    /*! position: absolute; */
    bottom: 7px;
    /*! width: 99%; */
    box-sizing: border-box;
}

#drawer {
    position: absolute;
    height: auto;
    width: 0px;
    z-index: 999;
    top: 110px;
    left: 2px;
    background-color: #00897B;
    overflow-x: hidden;
    transition: 0.5s;
    margin: 0 auto;
    cursor: pointer;
}

.nav-item {
    width: 79px;
    z-index: 9;
    text-decoration: none;
}

    .nav-item a span {
        transition-duration: 0.25s;
        text-align: center;
        display: block;
        color: white;
        padding: 10px;
        font-size: 15px;
        transition: color 0.2s, background 0.5s;
        font-weight: bold;
    }

    .nav-item > a:hover {
        text-decoration: none;
    }

    .nav-item:hover {
        background-color: rgba(246, 244, 244, 0.4);
        text-decoration: none;
    }

.page_content {
    min-height: 500px;
    margin: 0 auto;
    background: #fff;
    top: -9px;
    bottom: 100%;
    left: 0;
    /*! position: relative; */
    width: 99.7%;
    display: inline-block;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    margin: 0 auto;
    top: 84px;
    height: 14px;
    display: block;
    position: absolute;
    width: 25px;
    z-index: 1;
    cursor: pointer;
    background: rgba(255,255,255,0);
    margin: 0px 11px;
}

    label[for="nav-trigger"]:before {
        content: '';
        cursor: pointer;
        display: block;
        position: absolute;
        height: 2px;
        width: 25px;
        background: #000;
        box-shadow: 0 6px 0 #000, 0 12px 0 #000;
    }

.nav-trigger + label {
    transition: 0.3s;
}

.nav-trigger:checked + label {
    transform: rotate(180deg);
}

/*.nav-trigger:checked ~ div > nav > #drawer {
    width: 80px;
}*/
/**,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}*/
.sp {
    background-color: rgba(164, 161, 161, 0.9);
    padding: 1px;
}

.footer-content-menu-list {
    margin-left: 15px;
}

    .footer-content-menu-list > ul {
        color: rgba(114, 113, 113, 0.9);
        display: inline;
        float: left;
        font-size: 0.8em;
        white-space: nowrap;
    }

        .footer-content-menu-list > ul li {
            display: block;
            float: left;
            margin: 0;
            padding: 0 1.5em 0 0;
            position: relative;
        }

            .footer-content-menu-list > ul li a:hover {
                color: rgba(147, 142, 142, 0.9);
                cursor: pointer;
                text-decoration: underline;
            }

    .footer-content-copyright, .footer-content-menu-list > a {
        color: rgba(114, 113, 113, 0.9);
        display: block;
        float: right;
        font-size: 0.8em;
        margin: 0;
        padding: 1em 1.5em 0 0;
        position: relative;
    }

.menu_content > nav > .menu {
    color: rgba(114, 113, 113, 0.9);
    white-space: nowrap;
    display: block;
    margin: 0px 0 0 35px;
    height: 34px;
    font-family: Verdana, sans;
    font-size: 14px;
}

    .menu_content > nav > .menu > li {
        margin: 0 auto;
        display: inline;
        cursor: pointer;
        float: left;
        margin: 7px 7px;
    }

        .menu_content > nav > .menu > li > a {
            display: inline;
            margin: 0 auto;
            position: relative;
            text-decoration: none;
            color: black;
        }

            .menu_content > nav > .menu > li > a:active, .menu_content > nav > .menu > li > a:hover {
                background: none;
                color: white;
                text-decoration: underline;
            }

        .menu_content > nav > .menu > li:active, .menu_content > nav > .menu > li:hover {
            background: none;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.4),rgba(255,255,255,0.1) 0 5px 0;
            border-radius: 3px;
            color: white;
        }
/*Menu Sub Menu Level 1*/
.submenu {
    visibility: hidden;
    float: none;
    left: auto;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateY(5%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

    .submenu li h5 {
        margin: 0 auto;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

    .submenu li a {
        padding: 0px 10px 0px 10px;
        text-decoration: none;
        font-weight: normal;
        color: black;
    }

        .submenu li a:hover {
            text-decoration: underline;
        }

.menu_content > nav > ul > li:active > .submenu,
.menu_content > nav > ul > li:hover > .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}
/*Menu Sub Menu Level 2*/
.submenu_level_2 {
    visibility: hidden;
    float: none;
    display: inline-block;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateX(50%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.submenu > li:active > .submenu_level_2,
.submenu > li:hover > .submenu_level_2 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}
/*Menu Sub Menu Level 3*/
.submenu_level_3 {
    visibility: hidden;
    float: none;
    display: inline-block;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateX(50%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.submenu_level_2 > li:active > .submenu_level_3,
.submenu_level_2 > li:hover > .submenu_level_3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}
/*Menu Sub Menu Level 4*/
.submenu_level_4 {
    visibility: hidden;
    float: none;
    display: inline-block;
    position: absolute;
    z-index: 400;
    opacity: 0;
    background: rgba(250,250,250,250) none repeat scroll 0 0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    padding: 2px 2px 10px 2px;
    transform: translateZ(0);
    transform: translateX(50%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}

.submenu_level_3 > li:active > .submenu_level_4,
.submenu_level_3 > li:hover > .submenu_level_4 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}

#menu_icon {
    float: right;
    margin: 0;
    margin: -25px 10px;
}

    #menu_icon > li {
        display: block;
        float: left;
        margin: 0;
        padding: 0 0.8em 0 0;
        position: relative;
    }

#calendar_display {
    display: block;
    z-index: 999;
    position: absolute;
    cursor: move;
    left: 358px;
    right: 995px;
    top: 225px;
    border: medium none;
}

.menu-icon-size {
    font-size: 1.4em;
}

a {
    color: rgba(114, 113, 113, 0.9);
}

.header-info {
/*    float: right;*/
/*    width: 161px;*/
/*    background-color: #f8f8f8;*/
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
/*    height: 49px;*/
/*    margin: 5px auto;*/
    margin: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
}

#emp-avatar {
    background-color: #f8f8f8;
    /*    width: 200px;*/
/*    align-content: center;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
    /*    border-radius: 20%;*/
    border-radius: 5px;
    height: 57px;
    margin: 0 auto;
    /*    position: absolute;*/
    width: 54px;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}
.emp-avatar img {
    width: 80%;
    height: auto;
    object-fit: contain;
}


.emp-details {
    text-align: left;
}

#employe-name {
/*    max-width: 144px;*/
    overflow-wrap: break-word;
    font-size: 11px;
}

.emp-details-desc {
    font-size: 8px;
}

#todaydate {
}

.header-section1 {
}

.header-section2 {
/*    float: right;*/
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: white;
    padding-left: 10px;
/*    margin-left: 5px;*/
/*    display: block;*/
    align-content: center;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right:3px;
    border-radius:3px;
}

.header-company-name {
    font-size: 22px;
    font-weight: bold;
    color: #FFFF;
}

.header-title {
/*    float: left;*/
}

.header-title-text {
    display: block;
    /*! margin-left: 56px; */
    float: left;
    padding-left: 10px;
}

.img_comp_icon {
    float: left;
    background: white;
}
