<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <script>
        $(function () {
            $('button').button();
            $('.drop').selectmenu().selectmenu('menuWidget');
            $('#emp_drop').P2BSelectMenuAppend("@Url.Action("GetEmp", "AddNewUser")", "", "");
            $('#btn-submit').on('click', function (e) {
                var a = $('#emp_drop').val();
                if (a != "0") {
                    $.ajax({
                        url: "@Url.Action("Re","resetpassword")",
                        data: { data: a },
                        success: function (data) {
                            console.log(data);
                        }
                    });
                }
                e.preventDefault();
            });
        });
    </script>
</head>
<body>
    <form method="post" name="frmResetPassword">
        <div class="row1 content_margine">
            <select id="emp_drop" name="emp_drop"></select>
        </div>
        <div class="row1 content_margine">
            <button id="btn-submit" type="submit"></button>
        </div>
    </form>
    <div>
    </div>
</body>
</html>
