@{
    Layout = null;
}

@model IR.ChargeSheetServingMode
@*<link href="~/Content/staginant/staginant.css" rel="stylesheet" />*@
<style>
    .popup-content-label {
        width: 200px;
        display: block;
        float: left;
    }
</style>

<script>
    $(document).ready(function () {

        $('#ChargeSheetServingModelist').selectmenu().selectmenu("menuWidget");
        @*$('#ChargeSheetServingModelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3042);*@

    });

    </script>

    <div >
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormChargeSheetServingMode", name = "FormChargeSheetServingMode" }))
        {


            <div class="row3 content_margine" style="width: 420px;">
                @Html.LabelFor(m => m.ChargeSheetServingModeName, "ChargeSheetServingModeName :", new { @class = "popup-content-label" })
                <select class="drop" style="width:120px;" name="ChargeSheetServingModelist" id="ChargeSheetServingModelist">
                    <option></option>
                </select>
            </div>
            <div class="row3 content_margine">
                <label class="popup-content-label must" for="ServingSeq">Seq No :</label>
                <input class="popup-content-textbox must" data-val="true" data-val-number="The field SeqNo must be a number." data-val-required="The SeqNo field is required." id="ServingSeq" name="ServingSeq" type="text" value="">
        </div>
        }
        </div>



