@{
    Layout = null;
}
<script>

    $(document).ready(function (e) {
       
        $('.popup_radio_button').controlgroup();
        $('#Edit-CaseClosingDate').P2BDatePicker();

        //$('#CaseClosedate').hide();
        //$('input[name="IsCaseClosed"]:radio').change(function () {

        //    if (this.value == "false") {

        //        $('#Edit-CaseClosingDate').prop("disabled", true);
        //    }
        //    else {
        //        $('#Edit-CaseClosingDate').prop("disabled", false);

        //    }
        //});
       
       
  
    });

</script>
<style>
    .row2 {
        width: 400px;
    }
</style>
<form id="Edit-empdisciplinaryproceedingsPartial" method="post" name="Edit-empdisciplinaryproceedingsPartial">
    
    @*<div class="row2 content_margine">
        <label class="popup-content-label">Category :</label>
        <select class="drop" id="Edit-Category" name="Category" style="width:200px"><option></option></select>
    </div>
    <div class="row2 content_margine">
        <label class="popup-content-label">Subcategory :</label>
        <select class="drop" id="Edit-SubCategory" name="Subcategory" style="width:200px"><option></option></select>
    </div>*@
    @*<div class="row2 content_margine">
        <label class="popup-content-label">IsCaseClosed :</label>
        <input id="Edit-TargetAccounts" name="TargetAccounts" />
    </div>*@

    <div class="row3  content_margine">

        <label class="popup-content-label">IsCaseClosed :</label>
        <div class="popup_radio_button radio_button_div_1">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio5" name="IsCaseClosed" value="true" /><label for="radio5">Yes</label>
                <input type="radio" id="radio6" name="IsCaseClosed" value="false" checked="checked" /><label for="radio6">No</label>
            </span>
        </div>
    </div>

    <div class="row3  content_margine" id="CaseClosedate">

        <label class="popup-content-label">CaseClosingDate :</label>
        <input type="text" id="Edit-CaseClosingDate" name="CaseClosingDate" />
    </div>
    
  
</form>

