<link href="~/Content/popup_form.css" rel="stylesheet" />
<style>
    .table_1, .th_1, .td_1 {
        border: 1px solid #c5c5c5;
    }

    .table_2, .th_2, .td_2 {
        border: 1px solid #c5c5c5;
    }

    .row1 {
        width: 320px;
        margin-bottom: 4px;
    }

    .ip_1 {
        margin: 5px;
        height: 20px;
        width: 370px;
    }

    .row2 {
        width: 449px;
        margin-bottom: 4px;
    }
    /*====================================================*/
    .row_1 {
        margin-left: -5px;
        margin-right: -5px;
    }


    .column_1 {
        float: left;
        width: 30%;
        padding: 5px;
    }

    .column_2 {
        float: left;
        width: 35%;
        margin-top: 20px;
        /*padding: 5px;*/
        margin-left: 10px;
    }


    .row_1::after {
        content: "";
        clear: both;
        display: table;
    }

    .th_2 {
        text-align: center;
        padding: 8px;
    }

    .table_2 {
        margin-top: 50px;
        width: 50%;
    }

    .th_1, td_1 {
        text-align: center;
        padding: 8px;
    }


    /*==============================================*/
    .table_1 {
        width: 50%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-left: 400px;
    }

    .th_1 {
        padding: 5px;
        /*position:relative;*/
    }

    .td_1 {
        padding: 10px
    }

    .label_1 {
        margin-left: 688px;
        margin-top: 10px;
    }

    .label_2 {
        margin-left: 680px;
    }

    .textbox_1 {
        margin-top: 10px;
    }

    .textbox_2 {
    }


    /*.filter {
        display: none;
        pointer-events: none;
    }*/

    /*=======================================================*/
    .transactiontablenew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /* width: 200px;*/
        display: block;
        overflow: auto;
        height: 400px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /*change******************Rohan 470*/

        width: 370px;
        border-radius: 5px;
        height: 32px;
    }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 110px;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 110%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }

    .disabled {
        pointer-events: none;
        /*optional opacity: 0.4;*/
    }


    /*============================================================*/
    .icon-row {
        position: relative;
        left: 62px;
        top: -150px;
    }

    .form-of-element {
        display: block;
        border: #DEDEDE solid 0.1px;
        width: auto;
        height: 351px;
        padding: 5px 2px;
        margin-top: 3px;
    }


    .popup-content-label {
        /*  width:120px ;*/
        width: 124px;
        display: block;
        float: left;
        margin-bottom: 4px;
        margin-left: 16px;
    }

    .popup-content-textbox {
        margin-bottom: 4px;
        width: 53%;
        margin-left: 15px;
    }

    .add_icon-row {
        left: 6px;
        top: -49px;
        position: relative;
    }

    .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
        height: 20px;
        margin: auto;
        /*position: absolute;*/
        width: 20px;
        left: 0px;
    }
</style>

<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>



<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">
            <button class="button" id="Create">Create</button>
            <button class="button" id="View">View</button>
            <button class="button" id="Edit">Edit</button>
            <button class="button" id="Delete">Delete</button>

            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="Create_Dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPFSettlementForm", name = "frmPFSettlementForm" }))
    {

        //============================================ACTIVE Filter=======================================================


        <input id="geo_id" class="filter_structure_id" name="geo_id" />
        <input id="pay_id" class="filter_structure_id" name="pay_id" />
        <input id="fun_id" class="filter_structure_id" name="fun_id" />
        <input name="PayMonthEdit" type="text" id="PayMonthEdit" class="filter_structure_id" />
        <div class="filter-div">
            <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
            <div id="FormFilter"></div>
        </div>

        <div class="section1_Leave">
            <div class="heading">Employee List</div>
            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left">
                    <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 356px;" /></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                        <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                    </table>

                </div>
                <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
            </div>
        </div>


        //====================================================================================================

        <br />
        <br />


        <div>
            <label class="popup-content-label">PF Settlement Date: </label>
            <input class="" type="text" id="pfsettlement" />
            <label class="" style="margin-left:9px;margin-right:8px">Resign Date: </label>
            <input class="" id="resigndate" />
        </div>
        <br />

        <label style="margin-left:390px; margin-right:10px">Want To Pay: </label>
        <input id="checkbox_1" type="checkbox" />
        <div id="bankDetails">
            <div>



                <label class="label_2">Check number :</label>
                <input class="textbox_2" type="text" />
                <br />
                <label class="label_1">Bank Branch :</label>
                <input class="textbox_1" type="text" />
                <br />
                <label class="label_1">Cheque Date :</label>
                <input class="textbox_1" type="text" id="chequedate" />


            </div>
        </div>


        <br />
        <br />



        <div class="row_1">
            <div class="column_1">
                <table class="table_1">
                    <tr>
                        <th class="th_1">         </th>
                        <th class="th_1">Contribution</th>
                        <th class="th_1">Upto Settle Interest</th>
                    </tr>
                    <tr>
                        <td class="td_1">Own</td>
                        <td class="td_1"></td>
                        <td class="td_1"></td>
                    </tr>
                    <tr>
                        <td class="td_1">Owner</td>
                        <td class="td_1"></td>
                        <td class="td_1"></td>
                    </tr>
                    <tr>
                        <td class="td_1">PF</td>
                        <td class="td_1"></td>
                        <td class="td_1"></td>
                    </tr>
                    <tr>
                        <td class="td_1">VPF</td>
                        <td class="td_1"></td>
                        <td class="td_1"></td>
                    </tr>
                    <tr>
                        <td class="td_1">Total</td>
                        <td class="td_1"></td>
                        <td class="td_1"></td>
                    </tr>
                </table>
            </div>

            <div class="column_2">
                <h3 style="margin-left:460px">Interim</h3>
                <table class="table_1">
                    <tr>
                        <td class="td_1">PF Interest</td>
                        <td class="td_1"> Interim</td>

                    </tr>
                    <tr>
                        <td class="td_1">PF Ammount</td>
                        <td class="td_1">        </td>

                    </tr>
                    <tr>
                        <td class="td_1">VPF Interest</td>
                        <td class="td_1">        </td>

                    </tr>
                    <tr>
                        <td class="td_1">VPF Ammount</td>
                        <td class="td_1">        </td>
                    </tr>

                    <tr>
                        <td class="td_1">Total</td>
                        <td class="td_1">        </td>
                    </tr>
                </table>
            </div>
        </div>

        <br />


        <table class="table_2" style="margin-left:400px">

            <tr>
                <th class="th_2">Taxable Income</th>
                <td> <input class="ip_1" type="text" /> </td>
            </tr>
            <tr>
                <th class="th_2">Actual Tax</th>
                <td> <input class="ip_1" type="text" /> </td>
            </tr>
            <tr>
                <th class="th_2">Survice Charge</th>
                <td> <input class="ip_1" type="text" /> </td>
            </tr>
            <tr>
                <th class="th_2">Deduct Tax</th>
                <td> <input class="ip_1" type="text" /> </td>
            </tr>
            <tr>
                <th class="th_2">Unknown</th>
                <td> <input class="ip_1" type="text" /> </td>
            </tr>
            <tr>
                <th class="th_2">Total Gross Fund</th>
                <td> <input class="ip_1" type="text" /> </td>
            </tr>
            <tr>
                <th class="th_2">Diductions</th>
                <td> <input class="ip_1" type="text" /> </td>
            </tr>


            <tr>
                <th class="th_2">Actual Fund Balance</th>
                <td><input class="ip_1" type="text" /></td>
            </tr>

        </table>


    }

</div>






<script>

    $('#bankDetails').hide();
    $(document).ready(function (e) {

        $('button').button();
			var ColNames = [];
			var ColModel = [];
			var SortName, Caption, url, width, height;
        ColModel = ['ID', 'Emp Code', 'Emp Name', 'Px No', 'PF Settlement Date','Is Paid','Total Ammount'];
        ColNames = ['', '', '', '', ''];
			SortName = 'Id';
			Caption = 'PF Settlement Form';
			url = '@Url.Action("P2BGrid")';
			width = 1000;
			height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);




        //$('#checkbox_1').on("selectmenuchange", function () {


        //    if ($("#checkbox_1:selected").text == "Cheque") {
        //        $('#bankDetails').fadeIn();

        //    }

        //    else {
        //        $('#bankDetails').fadeOut();
        //    }


        //});

        $("#checkbox_1").on("click", function () {


            $('#bankDetails').toggle();

            //if ("checkbox.checked") {
            //    $('#bankDetails').show();
            //   // $('#bankDetails').hide();

            //}

            //else {
            //    alert("Hello");
            //    $('#bankDetails').hide();
            //    $('#bankDetails').show();
            //}



        });







        $('#Create_Dialog').P2BCreateDialog();

        $('#Create').on("click", function (event) {



            $('#frmPFSettlementForm').trigger("reset");

            $.LoadEmpByDefault(true, '#txtPayMonth');


            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create PF Settlement Form', 'open', '@Url.Action("create")', '#frmPFSettlementForm', 'Message :', 'Request Failed :', '#JqGrid', 570, 1055, '', '', function (data) {

            });



            event.preventDefault();
        });


        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    //console.log(data);
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter", hierarchy: true,
            });
        });



    });




    $(document).ready(function () {

        $("#pfsettlement").P2BDatePicker();
        $("#resigndate").P2BDatePicker();
        $("#chequedate").P2BDatePicker();

    });



</script>

