/* Developed Chaitanya Potdar
V 1.0.0
body margin by 0 is maintained by normalize.css and remaining height and width is maintained here,
And Minimum and Maximum width is maintained with Standard 1024 - 1024*/
/*This is Desgined as per Jquery CSS, Please Use Jquery Css and this one*/
/*Color Context for Ajax-Loader image is Background - #3DFEAF and for Foreground - #6CFFC7, For Image Download is this URL
http://www.ajaxload.info/ */
body {
font-size: 12px;
font-family: Verdana, sans;
background: #fff url("../P2B_CSS/Images/b_g.png") repeat scroll 0 0;
height: 100%;
width: 100%;
/*min-width:1024px;*/
/*max-width:1024px;*/
margin: 0 auto;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE/Edge */
user-select: none; /* non-prefixed version, currently not supported by any browser */
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
background: transparent;
border: 0;
padding: 0;
}

ul {
list-style: none;
}

.main_content {
height: 22px;
width: 100%;
padding: 5px;
}
/*Standard Color is maintained is - rgba(81, 231, 208, 0.86)*/
a {
text-decoration: none;
font-weight: normal; /* Change as Bold or Italic */
/*font-variant:small-caps /* Change as per Small-caps or normal, For where Small-caps Changes lowercase to upper case Letters. */
}

small {
color: #919191;
display: block;
font-size: 11px;
font-style: italic;
}
/*Input CSS*/
input {
border: 1px solid rgba(81, 231, 208, 1.00);
color: rgba(60, 60, 60, 0.93);
padding: 3px 4px;
border-radius: 5px;
/*background: #fcfcfc none repeat scroll 0 0;*/
font-size: 12px;
}

input:focus {
box-shadow: 0 0 8px rgba(81, 231, 208, 0.86);
border: 1px solid rgba(81, 231, 208, 0.86);
box-sizing: content-box; /*border-box changed to content-box,Due width problem on foucs in.*/
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
    color: lightgray;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: lightgray;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
    color: lightgray;
}
/*input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}*/
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
    input[type="date"]::-moz-focus-outer {
        border: none;
    }
/*TextArea Css*/
textarea {
border: 1px solid rgba(81, 231, 208, 1.00);
color: rgba(60, 60, 60, 0.93);
padding: 4px 8px;
border-radius: 5px;
background: #fcfcfc none repeat scroll 0 0;
}

textarea:focus {
box-shadow: 0 0 8px rgba(81, 231, 208, 0.86);
border: 1px solid rgba(81, 231, 208, 0.86);
/*For Box Sizing Effects UnComment this Code*/
/*box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;*/
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
}
/*Without Jquery Css for Button*/
.button2 {
background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
border: 1px solid #c5c5c5;
color: rgba(60, 60, 60, 0.93);
padding: 5px 10px;
border-radius: 2px;
}

.button2:hover {
border: 1px solid rgba(17, 160, 139, 0.7);
background: rgba(81, 231, 208, 1.00);
font-weight: normal;
color: #ffffff;
}
/*---------------------------------*/
select {    
border: 1px solid rgba(81, 231, 208, 0.86);
color: rgba(60, 60, 60, 0.93);
padding: 4px 8px;
/*margin-left: 4px;*/
border-radius: 5px;
background: #fcfcfc none repeat scroll 0 0;
/*box-shadow: 1px 1px 2px rgba(17, 160, 139, 0.7);*/
}
.select:hover {
    background-color: rgba(81, 231, 208, 1.00);
}
/*Auto Complete Ajax Loader image.*/
.ui-autocomplete-loading {
    background: white url(../Standard/Images/ajax-loader-roller.gif) right center no-repeat;
}

button {
width: auto;
}

button:hover {
box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s; /* Normal */
}

button:active {
position: relative;
top: 1px;
}
/*Added Css For CRUD and LookUp Buttons Disable Functionlaity for Hover and Active*/
.ButtonHover {
box-shadow: none;
}

.ButtonHover {
top: 0px;
}

#radioset {
display: inline-block;
}
/**
* If removing spacing between the cells comment this one or add "collapse".
*/
table {
border-collapse: inherit;
border-spacing: 0;
}
/*Pesudo CSS for Tooltip which is refered by P2BTooltip, Implement this attribute to Imply CSS*/
[data-p2btooltip] {
display: inline-block;
position: relative;
}

[data-p2btooltip]:before {
content: attr(data-p2btooltip);
display: none;
position: absolute;
background: rgba(17, 160, 139, 0.7);
color: #fff;
padding: 4px 8px;
line-height: 1.4;
min-width: 100%;
text-align: center;
border-radius: 4px;
top: 0%;
margin-left: 15px;
margin-top: 10px;
left: 100%;
-ms-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
-ms-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

[data-p2btooltip]:after {
content: '';
display: none;
position: absolute;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
left: 100%;
margin-left: 2px;
transform: rotate(-90deg);
top: 30%;
border-width: 0 6px 6px;
border-bottom-color: rgba(17, 160, 139, 0.7);
}

[data-p2btooltip]:hover:before, [data-p2btooltip]:hover:after {
display: block;
z-index: 999;
}

[data-p2bheadertooltip] {
display: inline-block;
position: relative;
}

[data-p2bheadertooltip]:before {
content: attr(data-p2bheadertooltip);
word-wrap: break-word;
display: none;
position: absolute;
background: rgba(17, 160, 139, 0.7);
color: #fff;
padding: 4px 8px;
line-height: 1.4;
max-width: 80px;
text-align: center;
border-radius: 4px;
top: 80%;
margin-top: 18px;
margin-left: 0px;
}

[data-p2bheadertooltip]:hover:before, [data-p2bheadertooltip]:hover:after {
display: block;
z-index: 999;
}

/*Look Up CSS*/
.lookuptable {
width: 100%;
}

.lookuptable th {
background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
}

.lookuptable th, .lookuptable td {
color: rgba(114, 113, 113, 0.9);
border-left: 0 none;
border: 1px solid #c5c5c5;
border-collapse: collapse;
font-weight: normal;
height: 23px;
overflow: hidden;
padding: 1px 2px;
white-space: pre;
padding: 2px;
/*! text-align: center; */
}

.lookuptable tr > *:nth-child(1) {
display: none;
}

.lookuptable tr:hover {
cursor: pointer;
background: #EEEEEE none repeat scroll 0 0;
}

.selectedtr {
background: #FFF176 none repeat scroll 0 0;
}
/*LookUp Selected Table*/
.lookuptableselected {
border: 1px solid #51e7d0;
width: 300px;
height: 150px;
overflow: auto;
display: block;
border-radius: 6px;
}

.lookuptableselected th {
background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
}

.lookuptableselected th, .lookuptableselected td {
color: rgba(114, 113, 113, 0.9);
border-bottom-width: 1px;
border-bottom-color: #51e7d0;
border-bottom-style: solid;
width: 300px;
border-collapse: collapse;
height: 23px;
overflow: hidden;
padding: 1px 2px;
white-space: pre;
padding: 2px;
/*! text-align: left; */
}

.lookuptableselected tr > *:nth-child(1) {
display: none;
}
/*Transaction Table CSS*/
.transactiontable {
border: 1px solid #c5c5c5;
margin: 0 auto;
/*width: 200px;*/
display: block;
overflow: auto;
height: 216px;
border-collapse: collapse;
}

.transactiontable th, .transactiontable td {
background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
padding: 5px;
border-bottom: 1px solid #c5c5c5;
border-right: 1px solid #c5c5c5;
text-align: center;
color: rgba(114, 113, 113, 0.9);
}

.transactiontable th:nth-child(1) > input, .transactiontable td:nth-child(1) > input {
margin: 0 auto;
}

.transactiontable th:nth-child(2), .transactiontable td:nth-child(2) {
height: 100%;
width: 100%;
}

.transactiontable tr:hover {
cursor: pointer;
background: #EEEEEE none repeat scroll 0 0;
}

.transactiondiv {
border: 1px solid #c5c5c5;
margin: 0 auto;
width: 192px;
border-radius: 5px;
height: 43px;
}

.transactiondiv > div {
display: inline-block;
margin: 0 auto;
padding: 4px;
}

.transactiondiv > div > input {
box-sizing: initial;
display: inline-block;
margin: 0 auto;
width: 108px;
}

.transactiondiv1 {
    border: 1px solid #c5c5c5;
    margin: 0 auto;
    width: 400px;
    border-radius: 5px;
    height: 43px;
}

    .transactiondiv1 > div {
        display: inline-block;
        margin: 0 auto;
        padding: 4px;
    }

        .transactiondiv1 > div > input {
            box-sizing: initial;
            display: inline-block;
            margin: 0 auto;
            width: 108px;
        }

.ui-dialog .ui-dialog-titlebar {
    display: flex;
}

.ui-dialog .ui-dialog-title {
    width: 50%;
    flex: 1;
}

.ui-dialog .ui-dialog-titlebar-close {
    order: 3;
    position: relative;
    right: 0em;
    margin: .1em 0;
    top: 0%;
}

.ui-dialog .ui-dialog-titlebar-help {
    order: 2;
    margin-right: 3px;
}
.ui-dialog .ui-dialog-titlebar-person {
    order: 1;
    margin-right: 3px;
}
.popup_radio_button span label{
    width: 25px;
}
