@{
    ViewBag.Title = "ELMSDashBoard";
}
<script src="~/Scripts/Chart.js"></script>
<script>
    $(function () {

        @*$('#canvas2').ChartHelper({
            url: "@Url.Action("getRetirementDate", "EpMSDashBoard")",
            type: "horizontalBar",
            title: ' Retirement Analysis'
        });
        $('#canvas3').ChartHelper({
            url: "@Url.Action("getIncrementDueList", "EpmSDashBoard")",
            type: "line",
            title: ' Increment Analysis'
        });*@

    });
</script>
<body>
    <div class="Form_Bg">
        @*<div class="chart-container">
            <div id="Container" style="height:200px; width:1300px">
                <canvas id="canvas2"></canvas>

            </div>

        </div>
        <div class="chart-container">
            <div id="Container" style="height:200px; width:1300px">
                <canvas id="canvas3"></canvas>
            </div>
        </div>*@
    </div>
</body>
<style>
    .chart-container-parent {
        width: 100%;
    }

    .chart-container {
        position: relative;
        display: inline-block;
        margin: 2px;
        height: auto;
        border: 0.5px solid #ccc;
    }

    .chart-container-heading {
        font-weight: bold;
        font-size: 12px;
        margin: 4px;
    }

    .hori_line {
        display: block;
        width: 99%;
        height: auto;
        color: black;
        height: 1px;
        margin: 13px auto auto;
    }

    .chart-container-buttons {
        float: right;
        /*! top: 0; */
        margin: -5px auto;
    }

        .chart-container-buttons > ul > li {
            display: inline-flex;
            margin: -15px auto;
            padding: 1px;
        }

    .refresh-btn, .fullscreenchart {
        cursor: pointer;
        font-size: 1.5em;
        color: grey;
    }

    .chart-type {
        position: relative;
    }
</style>
